In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Types of Copy

**In Python, we use = operator to create a copy of an object. You may think that this creates a new object; it doesn't. It only creates a new variable that shares the reference of the original object.**

In [ ]:
a = {10,20}
b = {10}
print(id(a))
print(id(b))
print(a==b)
c = a
print(a==c)
print(id(a) == id(c))
print(a is c) # is operator is used to compare the mem addr

In [ ]:
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]
new_list = old_list # reference

new_list[2][2] = 9

print('Old List:', old_list)
print('ID of Old List:', id(old_list[0]))

print('New List:', new_list)
print('ID of New List:', id(new_list[0]))


# As you can see from the output both variables old_list and new_list shares the 
# same id i.e 1400322300872

Essentially, sometimes you may want to have the original values unchanged and only modify the new values or vice versa. In Python, there are two ways to create copies:

- Shallow Copy
- Deep Copy

To make these copy work, we use the copy module.

### Shallow Copy

A shallow copy creates a new object which stores the reference of the original elements.

So, a shallow copy doesn't create a copy of nested objects, instead it just copies the reference of nested objects. This means, a copy process does not recurse or create copies of nested objects itself.

In [ ]:
import copy

old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

new_list = copy.copy(old_list) #SHALLOW COPY

print("Old list:", old_list)
print("New list:", new_list)

print(id(old_list) , id(new_list))

# old_list.append([4, 4, 4]) # appending



# print("Old list:", old_list)
# print("New list:", new_list)
# print(id(old_list[0]), id(new_list[0]))

In [ ]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

print(id(old_list[2]),id(new_list[2]))
old_list[1][1] = 'AA'
new_list[2][0] = 'AK'

print("Old list:", old_list)
print("New list:", new_list)

### Deep Copy
A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.

In [ ]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)
id(old_list[0]),id(new_list[0])

In [ ]:
a = [[1,0],(2,0)]
b = a.copy() # shallow

print(id(a) , id(b))
print(id(a[0]) , id(b[0]))

### Data Types Functions


- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

In [ ]:
x = "Hello World"
type(x)

x = 20
type(x)

x = 20.5
type(x)


x = 1j
type(x)


x = ["apple", "banana", "cherry"]
type(x)


x = ("apple", "banana", "cherry")
type(x)


x = range(6)
type(x)


x = {"name" : "John", "age" : 36}
type(x)



x = {"apple", "banana", "cherry"}
type(x)


x = frozenset({"apple", "banana", "cherry"})
type(x)


x = True
type(x)


x=b"Hello"
type(x)


x=bytearray(5)
type(x)

x=memoryview(bytes(5))

type(x)

### string methods

In [ ]:
s = "python is interpreted language"

In [ ]:
chr(65)

In [ ]:
ord("a")

In [ ]:
type(s)

In [ ]:
dir(s)

In [ ]:
#length of str  len(s)
len(s) #0-29

In [ ]:
s

In [ ]:
# capitalize
s.capitalize() #not inplace method , we have to store in same variable or other variable to reflect the changes.

In [ ]:
s

In [ ]:
a="veMuriAAA sbmsbmAAAA"
a.casefold() #convert into the lower case.

In [ ]:
a

In [ ]:
s.casefold()

In [ ]:
s
len(s)

In [ ]:
s.center(37 , " ")

In [ ]:
s.center(35 , "?")

In [ ]:
s.center(30 , "?")

In [ ]:
s

In [ ]:
s.count("i") #to count the occurences

In [ ]:
s.count("i",0,10)

In [ ]:
s.count("z")

In [ ]:
s[0] =" kls" #error #immutables

In [ ]:
s
s[-1]
#string supports indexing & slicing

In [ ]:
s[0:4:1]

In [ ]:
s[::-1]

In [ ]:
s[len(s)-1]

In [ ]:
s[len(s)-1]

In [ ]:
s[-1:-(len(s)+1):-1]

In [ ]:
s.count("e")

In [ ]:
s.count("e",15,40)

In [ ]:
s.encode() #str->bytes

type(s.encode())

In [ ]:
type(s)

In [ ]:
s
s.endswith("language")

In [ ]:
s = "asbbabsbc"
print(s.endswith("c"))

In [ ]:
#\n new line
#\t tab
#espace sequences

In [ ]:
txt = "H \n e \t l \t l\t o"
print(txt)

x =  txt.expandtabs(18)

print(x)

In [ ]:
s="AkRajamoni"
len(s)

In [ ]:
s[22]

In [ ]:
s[1:4:2]

In [ ]:
s[::-1]
s

In [ ]:
dir(s)

In [ ]:
s=s[::-1]

In [ ]:
s

In [ ]:
s.find("python") #return index of char

In [ ]:
s.find("Z")

In [ ]:
s.find("a")
s[4]

In [ ]:
s
s.index("a")

In [ ]:
s

In [ ]:
s.index("python")

In [ ]:
"snkjhsknsln2672802@%#&@))@)@@U)("
"10"
"[10,230,12]"
"""{"Name":"Ak","course":"Python"}"""

In [ ]:
#captialize()
# casefold()
# count()
# find()
# index()
# expandtabs()
# center()

In [ ]:
#checking types in string


s = "12"
s = "12a"
s = "python122"
s.isalnum() #alpha's+ numbers

In [ ]:
s = "Python12"
s.isalnum()

In [ ]:
s = "382"
s.isalnum()

In [ ]:
s="klahklaKNJAL"
s.isalpha() #only alpha's 
s="296729NAknla"
s.isalpha()

In [ ]:
s="HELLO"

s.isupper()

In [ ]:
s="HELLo 12"

s.isupper()

In [ ]:
s
s.islower()

In [ ]:
s= "\u0067"  # decimal for 3
s.isdecimal()
print(s)
s="19"
print(s.isdecimal())

In [ ]:
s = "   "
s.isspace()

In [ ]:
s ="0101"
s="0b1001"
print(s)
s.isdigit() #only 0-9

In [ ]:
# dir(s)
s = "pyThoN"
s.upper()
s.lower()

In [ ]:
s.lower()

In [ ]:
s.upper()

In [ ]:
txt = "I like python "

x = txt.replace('python', "scala")
x

In [ ]:
txt = "I could code along  all day"

x = txt.partition("o")

In [ ]:
x
# type(x)

In [ ]:
txt

In [ ]:
txt.split() #returns a split of list
txt

In [ ]:
txt

In [ ]:
txt2 = "Hi#welcome$python"

In [ ]:
txt2 = txt2.split("#")
txt2

In [ ]:
txt3="python is python a language is a oops"
txt3.split("python")

txt4="Hello?Hi?welcome"
txt4.split("?")

In [ ]:
type(txt2)
txt2

In [ ]:
name = input()
print(name)

In [ ]:
name

In [ ]:
name = input().split(",")
print(name)

In [ ]:
print(name)

In [ ]:
#join() list-str
# split() str-> list

txt2= input('Enter the string').split(",")
print(txt2)

In [ ]:
txt2= map(float,input('Enter the string').split(","))
print(txt2)
txt2 = list(txt2)

In [ ]:
print(txt2)

In [ ]:
txt2 = ["ab","ak","python"]
txt3 = "".join(txt2)
print(txt3)

In [ ]:
students_name = list(input("ENter the name").split(","))
print(students_name)

In [ ]:
# [] -list
# () - tuple 
# {} - set
# {} - dict
type({})

In [ ]:
txt = "I could code along \n all day I had fun in doing that  \n Really we can learn a lot"
print(txt)
txt.splitlines()

In [ ]:
##captialize()
# casefold()
# count()
# find()
# index()
# expandtabs()
# center()

#checking 
# -----------
# isalnum()
# isalpha()
# isupper()
# islower()
# isspace()
# isdigit()

#popular method

#  count()
# index()
# replace()
# partition
# split()
# join()


#pre defined ::
dir(str_obj_name)
len(str_obj_name)

### fundamental  steps to develop a program 

- the fundamental phases to develop any program or app or problem statement are


#### 1. Algorithm  : Step by Step process to solve any specific task or problem statement.
        -written using a single statements in English 
        -Should Have Definite Start and End  , Should Have Definite Number of steps.
        - one problem can have many different algorithms 
        
           ex:Preparing a tea
   
  ex: Multiply two numbers
  
  STEP 1: START
  
  STEP 2:DECLARE num1, num2
  
  STEP 3: READ num1 ,num2
  
  STEP 4: SET product = num1*num2
  
  STEP 5: PRINT product
  
  STEP6:END
  
  
#### 2. Flow charts : Pictorial Representation of steps  , using symbols




#### 3. Pseudocode :  Its similar version of programming code written in plain english , independent of program Lang

        - It doesnt require any strict programming languange syntax
        - It is easily readable and modular form
        - Its is Code like language 
        ex:
        
        BEGIN 
        
            DECLARE num
            READ num 
            
            IF num MOD 2 is ZERO THEN
                PRINT "EVEN"
            ELSE THEN
                PRINT "ODD"
            ENDIF
        END

In [ ]:
num1=10
num2=20
print("Addition")
print(num1*num2)
numan=10/0
print(num1+num2)
print("Hello Python")

### Statements

**A program contains**

- sequential statements  : Flow of execution is line by line 
- control statements    : Flow of execution depends on control expression
- Iteratative Statements  : Flow of execution on Loops / Repeated Actions



### Conditional Statements

- if  else
- elif
- nested if else

**decision making statements**

That is where control structures come in. A control structure directs the order of execution of the statements in a program.



if expr:

    statement

**Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.**

#### if else

In [ ]:
#in java

if(tomo=="holiday"){
    print()
    print()
}
else{
    print("")
}

In [ ]:
num1=10
num2=10
if num1==num2:
    print("EQUAL")
    print("world")
    print("hello")
    
else:
    print("NOT EQUAL")

In [ ]:
num1 = 5
num2 = 1

if num1 < num2: # if True Go Inside Else GOTO to the statement after IF block
    print(num2 ,"Greater")
    print("A")
    print("B")
    
print("next statements")
print("next next ")

In [ ]:
num1 = 1
num2 = 4
if num1>num2:
    print(num1 ,"Greater")
else:
#     print(num1 ,"<" ,num2)
    print('{} is less than {}'.format(num1,num2))# string 2.x
    print(f'{num1} is less  than {num2}') #3.x

In [ ]:
name = "sairam"
course = "python"
fee = 100.2322322
print(name)
print("is a student of ")
print(course)
print("course")

In [ ]:
print(name +" is a student of "+course +" course" +"With fee of "+fee)

In [ ]:
print(f'{name} is a student of {course} with fee of {fee}')

In [ ]:
print("{0} is a studnet of {1} with fee of {2:.3f}".format(name , course ,fee))

In [ ]:
'foo' in ['bar', 'baz', 'qux']

In [ ]:
if 'bar' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

In [ ]:
type(10) is int

In [ ]:
if type("Vemuri2322") is str:
    print("Hey")

In [ ]:
if 'zy' in 'python':                # Truthy
    print('yes')
else:
    print("NO")

In [ ]:
tomorrow = "No Holiday"

if tomorrow == "Holiday":
    print("Plan a Movie !")

else:
    print("Gotta go Office !")

In [ ]:

#even odd

# modulus operator returns the remainder 
print(33%2)

In [ ]:
num = int(input())

if num % 2==0:
    print("it is an  even")

else:
    print("it is an odd")

In [ ]:
num = int(input())

if num % 2 == 1:
    print("it is an odd number")
else:
    print("it is an even number")

#### elif

- Handling the mutliple conditions 
- The elif keyword in python a way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b> a:
  print("b is greater than a")
elif a == b: 
  print("a and b are equal")

print("Hello ")

In [ ]:
name = input("Enter the Name")


if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Joe':
    print('Hello Joe')
elif name == "Joe":
    print('Hello Arnold')
else:
    print("I don't know who you are!")

In [ ]:
#in multiple if , each and very condition is checked =>  even if the previous if is true or false.
data = 10
if data>=10:
    print("HI")
    
if type(data) is int:
    print("Hey")
    
if type(data) is str:
    print("Hello")
    
else:
    print("Bye Bye")
print("Continue from if else")

In [ ]:
#grade example 

marks = [10,9,8,7,6]

sum1 = sum(marks)
print("sum is ",sum1)
n = len(marks)
avg = sum1/n

print("the average is ",avg)

# print(avg,sum1)

if avg > 9:
    print("A")
elif avg>8:
    print("B")
elif avg>7:
    print("C")
elif avg>6:
    print("D")
else:
    print("Fail")

In [ ]:
#grade example 

marks = [10,9,8,7,6]

sum1 = sum(marks)
print("sum is ",sum1)
n = len(marks)
avg = sum1/n

print("the average is ",avg)

# print(avg,sum1)

if avg > 9:
    print("A")
if avg>8:
    print("B")
if avg>7:
    print("C")
if avg>6:
    print("D")
else:
    print("Fail")

In [ ]:
#if
#if else
#if elif else
#if if if else

#### nested if

In [ ]:
# voting example 

age = int(input("Enter the Age?: "))


if age>=18:
    voter_id = input("Do you have Voter Id?: Y/N")
    if voter_id == "Y":
        print("Eligible to vote ")
    else:
        print("Apply for the card")
else:
    print("not eligible to vote")

In [ ]:
# voting example 

age = int(input("Enter the Age?: "))


if age>=18:
    voter_id = input("Do you have Voter Id?:Y/N")
    if voter_id == "Y":
        print("Eligible to vote ")
    else:
        print("Apply for the card")
else:
    print("not eligible to vote")
    if age>2 and age <13:
        print("children")
    else:
        print("teenager")

In [ ]:
num =  int(input("Enter the NUM "))
if num<=10:
    num-=1
    if num<=9:
        num-=2
        if num<=5:
            num+=2
            if num<=0:
                print("Hello")
            else:
                print("Bye")
        else:
            print("else-1")
    else:
        print("else -2")
else:
    print("else -3")

In [ ]:
10 33 12

In [ ]:
a=int(input("Enter num1="))
b=int(input("Enter num2="))
c=int(input("Enter num3="))

if a>b:
    if a>c:
        print(a)
    else:
        print(c)
else:
    if(b>c):
        print(b)
    else:
        print(c)

In [ ]:
a=int(input("Enter num1: "))
b=int(input("Enter num2: "))
c=int(input("Enter num3: "))

if (a>b and a>c):
    print(a)
elif (b>a and b>c):
    print(b)
else:
    print(c)

In [ ]:
a=int(input("Enter num1: "))
b=int(input("Enter num2: "))
c=int(input("Enter num3: "))

if (a<b and a<c):
    print(a)
elif (b<a and b<c):
    print(b)
else:
    print(c)

In [ ]:
num1=11

if num1>=10:
    print("Greater")
else:
    print("lesser")

In [ ]:
# Short Hand If

# If you have only one statement to execute, 
# you can put it on the same line as the if statement.

a = True  #1

b= False  #0

if a>b: print("A is Greater")
print(a,b)

In [ ]:
#short Hand if else

print("True") if a<b else print("False")

In [ ]:
a=10
b=20

if a<b:
    print("True")
else:
    print("False")
print(a,b)

In [ ]:
print(a) if a>b else print(b)

In [ ]:
# Read  username, pass from keyboard
# if user is "Deepa" and password is 1234
# print Login success
# otherwise print Error

In [ ]:
bool([1,2,3])

In [ ]:
print(len([]))
print(bool([]))
#bool(0)

In [ ]:
bool("")

In [ ]:
bool(" ")

In [ ]:
if "":
    print("hello")
    print("True")
    
    
# if <exp>:
#     stmts

In [ ]:
if []:
    print("hello")
    print("True")
else:
    print("Bye bye")

In [ ]:
bool(" ")
s= " "
a=[1]
len(s)

In [ ]:
bool([1])

# []
# {}
# ()
# 0
# 0.0
# ""


#false
bool([])

bool(())


bool({})

bool("")


bool(0)

bool(0.0)

#true

bool(1)
bool(1.1)

In [ ]:


# if ->true else -> false
# elif -> multiple conditionsa
# nested if

### Looping 

- Sometimes it may be neccessary to repeat the certain process until a certain condition is met.
- It's a process of repeating a set of statments

In python , there are 2 loops

#### For loop

- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

-  For loop is preferred when we know the no of iterations in advance. 

syntax:

- for var in sequence:
    
    statements

In [ ]:
# print("Hello "*10)
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

In [ ]:
list(range(0,10,1)) # start . stop , step

In [ ]:
for i in range(1,10,1):
    print(i )

In [ ]:
for i in range(11):#10 iterations
    print("Hello" , i)
    print(i**2)

print(i)

In [ ]:
for ak in range(0,10):
    print(ak)
    print("HEllo")
    print("Hi")

print(ak)

In [ ]:
for i in range(10,-1,-1):
    print(i , end ="\t") #default ="\n"
    print(end="\t")

In [ ]:
for i in range(10,-1,-1):
    print(i , end="")
    print(end=" ")

In [ ]:
#f srring
a=10
b=20

#3.x
print(f"sum of {a} and {b} = {a+b}")

#2.x
print("sum of {} and  {} ={}".format(a,b,(a+b)))
print("sum of {1} and {0} is {2}".format(a,b,(a+b)))

In [ ]:

    
num = 9
i = 1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

In [ ]:

num = int(input())

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

In [ ]:
num = int(input("Enter the number"))

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

In [ ]:
for data in range(-1,-5,-1):
    print(data)

In [ ]:
#print the list in forward and reverse order

list_data = ["Python","Course","Fee","Dollars",True,10.28989]
for ind in range(0,len(list_data),1):
    print(list_data[ind])

In [ ]:
list_data = ["Python","Course","Fee","Dollars",True,10.28989]
for ind in range(-1,-len(list_data)-1,-1):
    print(list_data[ind])

In [ ]:
list(range(0,len(list_data)))

In [ ]:
#for looop with sequences  datatypes
# list
# tuple 
# set
# dictionary 
# string

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(len(comp)): #i->0 - n-1
    
    print(comp[i] , end=" , ")

print()
print(comp)

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(n+1): #i->0 - n-1
    
    print(comp[i] , end=" --> ")

print()
print(comp)

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(n): #i->0 - n-1
    
    print(comp[i] ,i)
    if i%2==0:
        comp[i]="Condition Met"
    

print()
print(comp)

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(n): #i->0 - n-1
    
    print(comp[i] ,i)
    if i%2==0:
        comp[i]=f"Even Loc:{i}"
    else:
        comp[i] = f"Odd Loc:{i}"
    

print()
print(comp)

In [ ]:
#print forloop
for data in comp:
    print(data)

In [ ]:
for data in [10,30,"True",10.21,False]:
    print(data)

In [ ]:
type(comp)

In [ ]:
for i in {1,2,3,4,3,4,2}:
    print(i)

In [ ]:
#printing purpose 

comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] 

for  i in comp:
    print(type(i), i)

In [ ]:
#tuple 

stock = (("SBI",370),["TCS",122] , ["INDO",278])

for item in stock:
    print(type(item) , item)
    print(item[0])
#do the same with range (for i in ramge())

In [ ]:
a=[10,20,30,40]

for ind in range(len(a)): #i 0,1,2,3 : range(4) :->0 - 3
    print(a[ind])

In [ ]:
n= int(input()) #5

for i in range(1,n,2):
    print(i)

In [ ]:
n= int(input()) #5

for i in range(0,n,2):
    print(i)

In [ ]:
n= int(input()) #5

for i in range(n):
    if i%2==0:
        print(i ,end = " ")

In [ ]:
stock = (["SBI",370],("TCS",122) , ["INDO",278])

n = len(stock)
print(n)

for i in range(n):#0-2
    #print(type(stock[i]),stock[i])
    #print(f'stock price is {stock[i][1]}')
    if(stock[i][0]=="SBI"):
        stock[i][1]=432
    
print(stock)

In [ ]:
s= ('SBI', 370)
print(s[1])

In [ ]:
#set  unordered unindexed
# set removes duplicates

fruits = {"A","B","C","A","B"}

for i in fruits:
    print(i)
print(fruits[0]) #error

In [ ]:
tup = (10,20,40)
print(tup[2])
# tup[2] = "changed"

string = "Hari"
print(string[-1])
string[0]="K"
print(string)

In [ ]:
#dict 
#key = immutables 
#values =immu & mutable : both
student = {
    "Name": "Ellie",
    "Address":"USA",
    "Salary":4000,
    "Role":"SDE"
}


for item in student: # print only the keys
    print(item)
    print(student[item])
    print(student.get("Hari","Invalid key"))

In [ ]:
student["Role"] = 'Data Sci' 
student

In [ ]:
a=[1,3,3]
a[0]

In [ ]:
"Name"
# student['Name2']
student.get("Name2","No Found")

In [ ]:
for item in student: # print only the keys
    print(f"{item} : {student[item]}")

In [ ]:
#dict methods
#keys()
#values()
#items()
#update()
#get()
#pop()
#popitem()
#clear()
#sort()

In [ ]:
student.items() #list of tuple which has k v paris

In [ ]:
for data in student.items():
    #type of item
    print(data, type(data))
    print(data[0],data[1])

In [ ]:
for key , value in student.items():
    print(key , value)

In [ ]:
student.keys() #it will return only keys

In [ ]:
for dt in student.keys():
    print(dt , student[dt])

In [ ]:
student.keys()

In [ ]:
student.values()

In [ ]:
for data in student.values():
    print(data)

In [ ]:
student

In [ ]:

for key in student.keys():
    if(student[key]=="Data Sci"):
        student[key]="DS"
print(student)

In [ ]:

#unpacking

for key , val in student.items():
    print(key,val)

In [ ]:
a=[("sairam","python",1000),("Ak","Java",700),("Stu","Ruby",600)]

for x in a:
    print(x,x[0],x[1],x[2])

In [ ]:
a=[("sairam","python",1000),("Ak","Java","AH"),("Stu","Ruby",600)]

for x,y,z in a:
    print(x,y,z)

In [ ]:
# ###dictionary
### Summary

# dict.items() -> key ,value in tuple format
# dict.keys() ->keys , dict[key]
# dict.values() -> values

### for with strings

In [ ]:
s = "python is a Interpreted Language"

print(len(s))

for ch in s:
    print(ch , end="" )

In [ ]:
s = "python is a Interpreted Language"

for ind in range(len(s)):
    print(s[ind] , end="")

In [ ]:
s = "python is a Interpreted Language"

for ind in range(0,len(s),2):
    print(s[ind] , end="")

In [ ]:
s = "python is a Interpreted Language"
print(len(s))

for ind in range(len(s)-1,-1,-1):
    print(s[ind] , end="")

In [ ]:
for i in "swati":
    print(i , end=" ")

In [ ]:
for i in (10,30,40):
    print(i , end=" ")

In [ ]:
for i in {10,10,30,40}:
    print(i , end=" ")

In [ ]:
#nested for loop
some_list = [("A",98,True),("B","99",False)]
for i in some_list:
    for j in i:
        print(j)
    print()

## find the dup element in the list.

In [ ]:
data = [1,2,34,4,2,5]

cnt=0
for i in range(len(data)):
    cnt=0
    for j in range(len(data)):#0-n-1
        if(data[i]==data[j]):
            cnt+=1
    if(cnt==1):
        print(data[i])

In [ ]:
data = [1,2,34,4,2,5]

cnt=0
flag =False
for i in range(len(data)):
    cnt=0
    for j in range(i,len(data)):#0-n-1
        if(data[i]==data[j]):
            cnt+=1
    if(cnt==2):
        print(data[i])

### Find the  second index of the Element in the List

 - Suppose if the list is [1,8,9,1,2,8,32]
 - second index of ele = 8
 - output = 5
 
 
 Note : if the element is not present in list print -1

### Reverse the String and List Using for Loop

- Suppose s ="Hello" 
- output = "olleH"

In [ ]:
x,y,z=("A",98,True)
# type(x)
print(x,y,z)

In [ ]:
#unpacking 
some_list = [["A",98,True],["B","99",False]]


for data in some_list:
    print(data)

for a , b ,c in some_list:
    print(a,b,c)

In [ ]:
list(range(3))

In [ ]:

for a , b ,c in [(10,0,0),(0,0),(40,0,0)]:
    print(a,b,c)

In [ ]:
a= list(range(3,6))
a

x,y,z = a
print(x,y,z)

In [ ]:
for a , b , c in (0,20,30):
    print(a,b,c)

In [ ]:
some_list = [("A",98,True),("B","99",False)]

for item in some_list:
#     print(item)
    print(item[0],item[1],item[2])

In [ ]:
some_list = [("A",98,True),("B","99",False)]

for x,y,z in some_list:
    print(x,y,z)

#### Else with For

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
a =10
b= 20
if a>b:
    print("snjknld")
else:
    print("else block")

In [ ]:
print("if block") if (a<b) else print("else")

In [ ]:
print("if block") if (a>b) else print("else")

In [ ]:
for i in "swati":
    print(i ,end=" ")
else:
    print(" Printed Successfully")

In [ ]:
#else block is executed when for loop is compeltely executed all iterations
for i in "Swati":
    print(i ,end="")
    if(i=='a'):
        break;
else: #no break #when executed al the iterations
    print(" Printed Successfully")

In [ ]:
#else block is executed when for loop is compeltely executed all iterations
for i in "Swati":
    print(i ,end="")
    if(i=='a'):
        break;

print(" Printed Successfully")
print(1+20)

In [ ]:
#else block is executed when for loop is compeltely executed all iterations
for i in "Swati":
    print(i ,end="")
    if(i=='z'):
        break;
else: #no break
    print(" Printed Successfully")

#### Break

- With the break statement we can stop the loop before it has looped through all the items:


#### Continue 

- With the continue statement we can stop the current iteration of the loop, and continue with the next:

- skips the current iteration

#### pass
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error

In [ ]:
for i in range(10):
    pass

In [ ]:
for i in range(1,10): 
   
    if(i==3):
        break
    print(i)
else: #no break and condition is not met
    print("For loop executed all iterations")

In [52]:
for i in range(1,10):
   
    print(i) 
    print("hi")
    print("Hello")
    break
else:
    print("Hey Hi Iam Else Block")
   
    
print("after for loop")

1
hi
Hello
after for loop

In [53]:
for i in range(1,10):
    break
    print(i)
    print("snjkns")
    print("snkndld")
print("outside loop")

outside loop

In [ ]:
for i in range(1,10):
    if i==5 or i==8:
        continue
    print(i, end=" ")
else:
    print("For loop executed all iterations")

In [ ]:
for i in range(10):
    print(i,end="")
    continue
    print("hello")

In [ ]:
for i in range(10):
    continue
    print(i)

In [ ]:
for i in range(10):
    pass #empty body

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(100):
    if (i%3==0):
        continue
    if (i%5==0):
        continue
    print(i)

In [ ]:
for i in range(100):
    
    if i % 3 == 0 or i % 5 == 0:
        continue
    else:
        print(i , end= " ")

In [ ]:
## range upto 100
# skip only the multiples of 3 and

In [ ]:
for b in range(101):
    if b%3==0:
         continue
    print(b ,end = " ")

In [ ]:
for b in range(101):
    if b%3==0 and  b%5==0:
         continue
    print(b ,end =" ")

In [ ]:
for ind in range(0 , 20 , 2):
    print(ind)

### While Loop

- With the while loop we can execute a set of statements as long as a condition is true.
- We prefer the while when dont know the no of iterations in advance
- In While loop , its mandatory to initialise the index variable and increment it during iterations

In [54]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)
print(len(comp))

['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
6

In [55]:
for data in comp:
    print(data, end =" ")

Google Microsoft True 1729 100000000000.0 (5+2j)

In [56]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops
while i<=n: #0 1 2 3 4 5 6 7 8 9 
    print(i ,end=" ")
    i+=1

0 1 2 3 4 5 6 7 8 9 10

In [57]:
i=1 #index variable

n=10 #stop

#if the condition is True , it enters the loops
while i<=n: #0 1 2 3 4 5 6 7 8 9 
    print(i)
    i=i+2

1
3
5
7
9

In [ ]:
print(10/3)  #print while exact decimals points
print(10//3) #floor division
print(1//2) #

In [ ]:
#DRY 


n=10

while n!=0: #when flase comes out of the loop
    print(n%2 , end=" ")
    n=n//2

#12 6 3 1

In [ ]:
bin(18)

In [ ]:
11//2

In [ ]:
#infinite loop
i=0
while i<10:
    print(i)

In [ ]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)

In [ ]:
ind = 0

n = len(comp)

print(ind,n)

while ind < n: #0 1 2 3 4 5 
    print(comp[ind])
    ind+=1

In [ ]:
print(-1>-6)

In [ ]:
start = -1

n = -len(comp)

print(start,n)

while start>=n: #0 1 2 3 4 5 
    print(comp[start])
    start=start-1

In [ ]:
ind = 0

n = len(comp)

new_list = ['a','b','c','d','e','f']

while ind < n: #0 1 2 3 4 5 
    comp[ind]=new_list[ind]
    ind+=1
comp

In [ ]:
a=10
b=30
a,b = b , a
print(a,b)

In [ ]:
arr = [109,3,9,0,6]
#output [6,0,9,3,109]

i = len(arr)-1
n = 0

while i>=n:
    print(arr[i] , end=" ")
    i=i-1

In [ ]:
for i in range(len(arr)-1 , -1, -1):
    print(arr[i], end=" ")
    
# print(arr)

In [ ]:
#method3

arr.reverse()
arr

In [ ]:
arr = [109,3,9,0,6]
#output [6,0,9,3,109]

ind = 0 
backind = len(arr)-1

n = len(arr)

while ind<(n//2):
    arr[ind] ,arr[backind]  = arr[backind] , arr[ind]
    ind+=1
    backind= backind-1
    print(f"{ind} iteration:  {arr}")

print(arr)

In [ ]:
arr = [109,3,9,0,6]

#(a, b = b , a)
n = len(arr)
first = 0
last = n-1
while first <n:
    print(first,last)
    arr[first] ,arr[last] = arr[last] , arr[first]
    first+=1
    last-=1
    print(arr)
print(arr)

In [ ]:
[1]*20

In [ ]:
a=[10,20,30]
b=[40,50,60]

# [50,70,90]

i=0

c=[0]*len(a)

print(c)

while i<len(a): # 0 1 2  
    c[i]=a[i]+b[i]
    i+=1
print(c)

In [ ]:
# Note: remember to increment i, or else the loop will continue forever.

In [ ]:
#Try While loop with the TUple , set , Dict , String

### Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

Useful for accessing the 2D Lists , Tuples

In [60]:
for i in range(5):
    for j in range(2):
        print("HI")
    print()

HI
HI

HI
HI

HI
HI

HI
HI

HI
HI

In [62]:
for out in range(1,4):
    for inner in range(1,11):
        print(out*inner , end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [64]:
out = 1
while out<4:
    inner = 1
    while inner<11:
        print(out*inner, end=" ")
        inner+=1
    out+=1
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [66]:
arr_2D =[
    
        [1,2,3,10],
        ['a','b','c'],
        [10.2,True,10+2j]
    
        ]

In [68]:
for data in arr_2D:
    for inner in data:
        print(inner)

1
2
3
10
a
b
c
10.2
True
(10+2j)

In [ ]:
arr_2D[0][0]

In [ ]:
for i in range(1,2):
    print("sknlks")

In [72]:
arr_2D =[ 
    ["apple","ms","telsa"],
    ['a','b','c'],
    [10.2,True,10+2j]
    ]
print(arr_2D[0][2])

for i in range(3):
    for j in range(3):
        print(i,j , arr_2D[i][j])

telsa
0 0 apple
0 1 ms
0 2 telsa
1 0 a
1 1 b
1 2 c
2 0 10.2
2 1 True
2 2 (10+2j)

In [ ]:
for outer in arr_2D:
    for inner in outer:
        print(inner , end=" ")
    print()

In [ ]:
arr_2D[0][0]

In [ ]:
for i in range(3):
    for j in range(3):
        print(i,j)

In [ ]:
# print(arr_2D)

#It is 3x3 matrix

print(len(arr_2D))

row=3
cols=3
for i in range(row):
    for j in range(cols):
        print(f"{arr_2D[i][j]} i :j {i , j}") # 0 0 0 1 0 2

In [ ]:
for i in range(2):
    for j in range(2):
        print(i,j)

In [ ]:
for i in range(3):
    for j in range(3):
        print(i,j)
        if(j==1):
            break
    if(i==1):
        break

In [ ]:
i=0
while i<4: # 0 1 2 3
    j=0
    #inner loop
    while j<3: # 0 1 2
        print(i,j)
        j+=1
    i+=1
    print()

In [ ]:
arr_2D

In [ ]:
for row in range(len(arr_2D)):
    for col in range(len(arr_2D)) :
        print(arr_2D[row][col],end=" ")
        arr_2D[row][1]="Python"
    print()
    
print(arr_2D)

In [ ]:
print() #new line

In [ ]:
arr_2D[0][0]

In [ ]:
arr_2D[0][1]

In [ ]:
arr_2D[0][2]

In [ ]:
arr_2D[1][0]

In [ ]:
arr_2D[1][1]

In [ ]:
arr_2D[1][2]

In [ ]:
some_list = ["Google","AmaZon","IBM"]

com_type = ["IT","MNC","GOBAL"]

#print the company with foundation year together

for i in some_list:
    for j in com_type:
        
        print(f"{i} is {j}" ,end =" and ")
    print()

In [ ]:
for i in some_list:
    print(i)

In [ ]:
n = int(input("enter the n values : "))
for i in range(n):
    for j in range(i+1):
        print("*", end =" ")
    print()

In [ ]:
n = int(input("enter the n values : "))
for i in range(n):
    for j in range(n,i,-1):
        print("*", end =" ")
    print()
for i in range(n):
    for j in range(i+1):
        print("*", end =" ")
    print()

### Comprehension

- It shorten the sytax of list with for loops

- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
a=[]
for i in range(20):
    a.append(i)
print(a)

In [ ]:
#generate a even numbers for given specified range add it to the list

even = []

#range(0,20)
for i in range(0,20):
    if i%2==0:
        even.append(i)
print(even)

In [ ]:
odd = []

#range(0,20)
for i in range(1,20):
    if i%2==1:
        odd.append(i)
print(odd)

In [ ]:
a=[i for i in range(20)]
print(a)
type(a)

In [ ]:
a=[i+2 for i in range(20)]
print(a)
type(a)

In [ ]:
[i*i*i for i in range(10)]

In [ ]:
even =[ i for i in range(20) if i%2==0]

In [ ]:
even =(i for i in range(20) if i%2==0)
print(type(even))

In [ ]:
for data in even:
    print(data)

In [ ]:
[ i for i in range(20) if i%2==0 and i<16]

In [ ]:
num=12
[ f'{num} * {i} = {num*i}' for i in range(10)]

In [ ]:
print(print("njkd"))

In [ ]:
some_dict = { i:i**i for i in range(1,5)}

In [ ]:
some_dict

In [ ]:
name ={i:ord(i) for i in "abCD"}
name

In [ ]:
ord('a')
print(ord('A'))

In [ ]:
ord("\t")

In [ ]:
name = {i:chr(int(i)) for i in "961825"}

name

In [ ]:
#usage case 2

# create a array of values , or required dimensions

In [ ]:
arr = [0]*100
print(arr)

In [ ]:
arr = ["Hi"+str(i) for i in range(10)]
arr

In [ ]:
arr = [0 for i in range(10)]

print(arr)

arr = [0]*10
print(arr)

In [ ]:
for row in range(4):
    for col in range(5):
        print(row,col , end=": ")
    print()

In [ ]:
# 2D

arr2D = [ [ (row,col) for col in range(5)] for  row in range(4)]

In [ ]:
arr2D

In [ ]:
# 2-D List
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]] 

# Nested List Comprehension to flatten a given 2-D matrix
flatten_matrix = [val for sublist in matrix for val in sublist]

print(flatten_matrix)

In [ ]:
res=[]
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        res.append(matrix[i][j])

In [ ]:
print(res)

In [ ]:
n=10
#O(n)- Big- Oh (N) # worst case
for i in range(n):
    print(i)

In [ ]:
n1=10
n2=5
for i in range(n1):
    for j in range(n2):
        print(i,j)

### Excercise

#### Prime or not

- A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc. are prime numbers as they do not have any other factors. But 6 is not prime (it is composite) since, 2 x 3 = 6.

##### Navie method

- we check a num is divisible exactly two times in inclusive range 1-num
- if  a num is divisible two times then it is prime number otherwise not prime.

In [ ]:
## Checking whether number is prime or not  
# o(n) 

num = int(input())
div_count=0
for i in range(1,num+1):
    if num%i==0:
        print((i , num//i))
        div_count+=1
        
        
if div_count==2:
    print(num ,"is Prime")
else:
    print("Not Prime")

In [ ]:
11%1 #0
11%11 #0

##### using the flag variable

- We check if num is exactly divisible by any number from 2 to num - 1. If we find a factor in that range, the number is not prime, so we set flag to True and break out of the loop.

In [ ]:
#another methods - Factor finding


num = int(input())
flag = False #0

if num>1:
    for i in range(2,num): #2-10
        if num%i==0:
            Flag = True
            break
    if flag==False: #True == False
        print(" Prime")
    else:
        print("Not prime")

##### using the else block

In [ ]:
num = int(input())
flag = False #0

if num>1:
    for i in range(2,num): #2-10
        if num%i==0:
            Flag = True
            break
    else:#no break
        print("Prime")

### Linear Search

arr= [1,4,56,89,23,78]
- key = 56
- OP:2

- search for the key in the array elements , if key is found return the index
otherwise return the -1

In [ ]:
n = int(input())

arr = list(map(int, input().split()))

key = int(input())
for i in range(n):
    if (arr[i]==key):
        print(i)
        break
else:
    print(-1)
    
    
    
# worst case = O(n)
# average case = 0(n//2)
#best case = O(1)

In [ ]:
n=int(input())

for i in range(n//2):
    print(i)
    
    
#O(n//2)

In [ ]:
from math import *
math.sqrt(10)

In [ ]:
sqrt(16)
sqrt(10)
ceil(3.4)
floor(3.4)

In [ ]:
n=int(input())
n= ceil(sqrt(n))

for i in range(n):
    print(i)
    
    
    #O(sqrt(n))

# 11%2
11%3
11%4
11%5
11%6
11%7
11%8
11%9
11%10

In [ ]:
1 
#read a number from keyboard
#range from 0 , 40
#check every num whether it is odd or even 
#print 


2.
# read a 10 integers from keyboard.
# store it in list
# loop through every value , calculate the sum of all values in the List
# print the final sum


# 3.Convert 2D to 1D using comprehesion

# 4. Declare two 2D list
# a=[[1,2],[10,20]]
# b=[[40,50],[100,200]]
# perfrom addition of every index values using for and while loops


## Generate a factorial for n using for and while loop
# ex : n = 2
# output:2
# # n = 5
# # output = 120 
# # 1*2*3*4*5 = 120

In [ ]:
 x,y,z,n = [int(input()) for i in range(4)]
    
print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)])