In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
print("Hello")
print("Hi"*10)
print("pythonepi"*10)

#### shortcuts for jupyter notebook

- shift + enter = run cell

- ESC -> command Mode
- b - insert cell below
- a - insert above
- x = dell the cell
- m - markdown (write any text)

In [ ]:
print(10)

In [ ]:
print(10.222)

### Python Intro

<img src = " https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2019/02/Python-Infographic-for-beginners-to-learn-Python-Quickly.jpg" width = "500" height = "800">

### Python 2 vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

In [ ]:
2**8

In [ ]:
2**16

In [ ]:
# print "hellol"
print("hello")

### Print function 

- It is used to print the information or objects data to the console 

syntax:


print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

- this is the syntax of the print functions

In [ ]:
print('Hello python')
print(10)

In [ ]:
print(''' Hello python ''')

In [ ]:
print("Hello World !...")
print(10)

In [ ]:
print("1hkjhka")

In [ ]:
a = 10
b = " is Even "
c = "and it is True"

# print(a)
# print(b)
# print(c)

print(a,b,c )
print(a,b,c ,sep=" -> ")
# # sep the variables when we have more than one variable.

In [ ]:
sample = open('samplefile.txt', 'a') # creating the write.
  
print('GeeksForGeeks', file = sample)
sample.close()

### Comments 

- computer programming, a comment is a programmer-readable explanation or annotation in the source code of a computer program. 
- They are added with the purpose of making the source code easier for humans to understand, and are generally ignored by compilers and interpreters.
- They are non executable statements (lines)

- 2 types of comments in python 
    - single  #
    - multiline ''' ''''

In [ ]:
# this is comment written sairam hjghjg768hkbuiy98y7gt87y99
# cnt+/ = to comment the code
# skjsn,

'''
this is program written on may12th

multiline

Python comments
'''

## Variables

**Think of a variable as a name attached to a particular object. In Python, variables need not be declared or defined in advance, as is the case in many other programming languages. To create a variable, you just assign it a value and then start using it. Assignment is done with a single equals sign (=):**

- A Varible is nothing but giving a name to the memory location(s) to store the value , so that we can reuse that value whenever  needed.

- It possess a Variablity property , it can change its value during the phase of execution 

#### Rules to define a variable  

    A variable name must start with a letter or the underscore character.
    A variable name cannot start with a number.
    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    Variable names are case-sensitive (age, Age and AGE are three different variables)
    No Variable canT have the same name as a reserved word.

In [ ]:
# other languages
int age =  #4bytes 
String name = "meet"
float f = = 1082.287 #4 bytes

age = 10.3765672 #invalid

In [ ]:
2**64-1

In [ ]:
# <variable_name > = <value>

age = 25

In [ ]:
print(age , type(age))

In [ ]:
age = 25.5
print(age , type(age))

In [ ]:
age = "a"
print(age , type(age))

In [ ]:
2**63

In [ ]:
2**32  # for int

In [ ]:
student_name = "Ak Rajamoni" #snake case

In [ ]:
#valid variable names

name = "Snowy"
Age = 8
is_pet = True
name = 10.21

print(name , Age , is_pet , sep="\t") #\t = TAB \n = new line

In [ ]:
student_name = "DEEPA "

print(type(student_name))

In [ ]:
# invalid variable names

98_age = 30 #ibt gives the error

In [ ]:
age_98=30
print(age_98)

In [ ]:
_ = "Hello"
print(_)

In [ ]:
import keyword

print(keyword.kwlist)

In [ ]:
len(['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'])

In [ ]:
# import = 10
True = "AK"

In [ ]:
True_ = 10
print(True_)

In [ ]:
True_True = True

print(type(True_True))

In [ ]:
print("False  true None and as Aseert")

In [ ]:
len(['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'])

In [ ]:
# Note that case is significant. Lowercase and uppercase letters are not the same. 
# Use of the underscore character is significant as well. Each of the following defines a different variable:

age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

In [ ]:
print(id(age))

In [ ]:
id(Age)

In [ ]:
a=10
b=10
print(id(a) , id(b))

#pre defined functions

- type(obj) : to check the data type
- id(obj) : to know the addr
- len(obj) : to count the occurences .

In [ ]:
a=10
b=10
c=10

In [ ]:
#assign a single value to mutliple variables

a = b = c =1729



print(a,b,c)

In [ ]:
#assign a different values to mutliple variables in one line
a,b,c = 1729,10,12

print(a,b,c , sep="\n")

### Naming styles


    Camel Case:
    Second and subsequent words are capitalized, to make word boundaries easier to see.
        Example: numberOfCollegeGraduates
        
        for naming functions
        
    Pascal Case: 
    Identical to Camel Case, except the first word is also capitalized.
        Example: NumberOfCollegeGraduates
        
        for naming Classes
    
    Snake Case: 
    Words are separated by underscores.
        Example: number_of_college_graduates
        for  naming variables

In [ ]:
price_apple = 50
banana_price = 70
print(price_apple,banana_price,sep="\n")

In [ ]:
"hello" #print('hello')

In [ ]:
10 #print(10)

In [38]:
a=10
a #print(a)
b=20
b #print(b)

10

20

In [40]:
type("A")

str

In [39]:
a = print("Hello") #it will return None type 
print(a)

Hello
None

In [41]:
print(print(print("Yash")))

Yash
None
None

In [47]:
print(print())
print() 
print()
print() # new line
print("Hi")

None



Hi

In [48]:
print(a)
print()
print()
print()
print(b)

None



20

In [ ]:
# Print()
# TYpe() #error

In [59]:
# Declaree 5 realtime variables and assign different values.
#print them , with value , type , id.
Score=5.6
Name="Deepa"
Analyst="true"
Batch=5
print(Score , type(Score)  , id(Score))


Student_Name  = " hari  "
Roll_num = 7
marks_scored = 97.5
first_class = True
print ((Student_Name),type(Student_Name),id(Student_Name))
print((Roll_num),type(Roll_num),id(Roll_num))
print((marks_scored),type(marks_scored),id(marks_scored))
print((first_class),type(first_class),id(first_class))

5.6 <class 'float'> 2526313762288
hari <class 'str'> 2526314277808
7 <class 'int'> 140707117672432
97.5 <class 'float'> 2526315190512
True <class 'bool'> 140707117389648

### Data types

In programming, data type is an important concept.

It defines the type of Data we use. 

**Variables can store data of different types, and different types can do different things.**

Python has the following data types built-in by default, in these categories:

Text Type: 	str

Numeric Types: 	int, float, complex

Sequence Types: 	list, tuple, range

Mapping Type: 	dict

Set Types: 	set, frozenset

Boolean Type: 	bool

Binary Types: 	bytes, bytearray, memoryview

### Int

In [52]:
# Python interprets a sequence of decimal digits without any prefix to be a decimal number

int_var = 100

print(int_var)

print(type(int_var))

int_var = 10.2 #float 

print(type(int_var))

100
<class 'int'>
<class 'float'>

In [ ]:
2**64-1

In [54]:
# In Python 3, there is effectively no limit to how long an integer value can be. 
# Of course, it is constrained by the amount of memory your system has, as are all things, 
# but beyond that an integer can be as long as you need it to be:

int_var2 = 12312188727979081720280990280981090928098208091802180982082108028028021082098028091

print(int_var2)

12312188727979081720280990280981090928098208091802180982082108028028021082098028091

Prefix 	Interpretation 	Base

0b (zero + lowercase letter 'b')

0B (zero + uppercase letter 'B') 	Binary 	2

0o (zero + lowercase letter 'o')

0O (zero + uppercase letter 'O') 	Octal 	8

0x (zero + lowercase letter 'x')

0X (zero + uppercase letter 'X') 	Hexadecimal 	16

In [ ]:
8/2 = 0
4/2 = 0
2/2 = 0
1/2 = 1
Quo = 0

In [56]:
# (2**8)-1

255

In [ ]:
#8 bit represtaion 
#  0 - (2**8)-1 : 255

7   | 6  |  5 |  4 | 3 | 2 | 1 | 0 

128 : 64 : 32 : 16 : 8 : 4 : 2 : 1
 0    0    0     0   1    0   1   0  = 10

In [55]:
print(bin(8))

0b1000

In [57]:
bin(10)

'0b1010'

In [1]:
print(bin(27) , bin(122) , bin(19))

0b11011 0b1111010 0b10011

In [ ]:
# 32 , 122 , 65

In [ ]:
print(0b1000)
print(0B10000)

In [2]:
print(0b11011) #27

27

In [4]:
a=0b1000+0b100 #8+4 = 12
print(a)
print(bin(a))

1100
0b10001001100

In [5]:
bin(127)

'0b1111111'

In [6]:
print(0o10)
print(0O100)

8
64

In [7]:
print(0b101)

# 4 bit 2^0 to 2^4 -1
# 0 - 15
# 2^0 2^1 2^2 
#8 4 2 1

5

In [ ]:
256 128 64 32 16 8 4 2 1

In [ ]:
# https://byjus.com/maths/number-system/

In [ ]:
print(0xF+0B0111)
# 0-9 
# A - F , A=10 B=11 ... F=15

In [9]:
#Number System predefined methods are
# .bin()
# oct()
# hex()

In [11]:
oct(64)

'0o100'

In [15]:
hex(235)

'0xeb'

In [18]:
a = 0xeb+0b100+0o64
print(a)
print(235+4+52)

291
291

In [17]:
print(0o64)

52

In [ ]:
#if we want check the type of the value stored in variable  , 
# use   built-in function 
# type(variable_name)
#len()

In [19]:
a=0b101
type(a)

int

### Float

In [20]:
float_var =1.33283763

print(float_var)
print(type(float_var))

1.33283763
<class 'float'>

In [21]:
float_var = 123
print(float_var)
print(type(float_var))

123
<class 'int'>

In [22]:
float_var =121.0
print(type(float_var))

<class 'float'>

In [ ]:
# int a= 10
# a =102.289 error

In [26]:
print(3.4/100000)

3.4e-05

In [25]:
# 10^-4 0.0001 
#3.4*10^-4
# e-5 10^5
#3.4/100000 = 3.4e-5

float_var= 3.4e-5

print(float_var,type(float_var))

3.4e-05 <class 'float'>

In [27]:
print(3.4*(10**4))

34000.0

In [28]:
3.4/10000

0.00033999999999999997

In [29]:
print(type(1/0.0))

ZeroDivisionError: float division by zero

### Complex Numbers

Complex numbers are specified as real part+imaginary part j.

In [32]:
# x+iy
#  x is integer y is imag 

com_var = 2+3j

In [33]:
print(type(com_var))

<class 'complex'>

In [ ]:
#len()
#dir()
#type()
#bin() hex() oct()
#id()

In [40]:
int_var = 10
dir(int_var)
print(type(int_var))

<class 'int'>

In [34]:
dir(com_var)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [35]:
com_var.real

2.0

In [36]:
com_var.imag

3.0

In [ ]:
com_var = 2+3j

In [37]:
com_var.real * com_var.imag

6.0

In [ ]:
# dir(com_var)
com_var.imag

In [42]:
print(com_var)

(2+3j)

In [41]:
com_var.conjugate()

(2-3j)

In [44]:
(com_var.conjugate()).conjugate().conjugate()

(2-3j)

In [ ]:
#dir(object_name/variable name)
dir(com_var)

In [45]:
a=2+3j #a+bj
b=4+1j #c+dj
print(a/b)
print(a+b)
print(a-b)
print(a*b)

(0.6470588235294118+0.5882352941176471j)
(6+4j)
(-2+2j)
(5+14j)

In [46]:
((2*4)+(3*1))/(16+1)

0.6470588235294118

In [48]:
print(11/17)

0.6470588235294118

### Strings

- Strings are sequences of character data. The string type in Python is called str.

- String literals may be delimited using either single or double quotes. All the characters between the opening delimiter and matching closing delimiter are part of the string:

In [49]:
str_var = "Iam a string "

print(str_var)

print(type(str_var))

Iam a string
<class 'str'>

In [50]:
str_var = "Iam a string^&T@*187782u929292u98.,smlss8i8us98 10+2j"

print(str_var)

print(type(str_var))

Iam a string^&T@*187782u929292u98.,smlss8i8us98 10+2j
<class 'str'>

In [51]:
 type("I am a string.")

str

In [53]:
str_var2 ='                                  '

print(str_var2)

print(type(str_var2))
print(len(str_var2))

<class 'str'>
34

In [ ]:
# \n = print in next line
# \t = tab

In [54]:
a  =  'Im learing \
september \
python \
datatypes'



print(a)

Im learing september python datatypes

In [56]:
print('a\
b\
c')

abc

In [57]:
'''
Hello
World
'''

'\nHello\nWorld\n'

In [58]:
print("hello \
        world")

print("hello \
        world")

hello         world
hello         world

In [59]:
print("helo \
      jkeoens")

print("hello \
        world")

helo       jkeoens
hello         world

In [66]:
# It's a book

# print('Its's is book') # error.
print("It's is book") #method1
print('It\'s is a book') # method2

It's is book
It's is a book

In [71]:
# print("Its "is" a book") 
print("Its \"is\" a book")
print("""Its "is" a book """)

Its "is" a book
Its "is" a book

In [67]:
print('python is easy one of the easiest language\"s')

python is easy one of the easiest language"s

In [72]:
print(''' python is "easy" It's a easy Language''')

 python is "easy" It's a easy Language

In [73]:
print('\" It\'s \" is \" book \" ')

" It's " is " book "

In [ ]:
print('Book')

In [ ]:
print() # empty print statement is new line

In [74]:
print('''This string has a single (') and a double (") quote.''')

This string has a single (') and a double (") quote.

### Boolean 
Python 3 provides a Boolean data type. Objects of Boolean type may have one of two values, True or False:

In [75]:
bol_var = True
bol_var2 = False

In [79]:
bol_var = bool(1)
bol_var2 = 0

In [80]:
print(bol_var,type(bol_var))

True <class 'bool'>

In [81]:
print(bol_var*bol_var2)

0

In [82]:
print(bol_var-10)

-9

#### Mapping

int()

str()

float()

complex()

bool()

### int - str

In [92]:
inta= 109228782

print(type(inta))
# print(len(inta) , inta[0]) #error

stra = str(inta) #converting string 

print(stra)

print(type(stra))
print(stra[0])
print(stra.count('2'))

<class 'int'>
109228782
<class 'str'>
1
3

In [85]:
a = 10101
print(type(a))
str(a)
print(type(a))

<class 'int'>
<class 'int'>

In [87]:
a = 10101
print(type(a))
a = str(a)
print(type(a))

<class 'int'>
<class 'str'>

### float - str

In [93]:
floata= 109228.99292

print(type(floata))

#after converting
stra = str(floata)

print(stra)

print(type(stra))

<class 'float'>
109228.99292
<class 'str'>

In [94]:
b = True

print(type(b))

stra = str(b)

print(stra)

print(type(stra))

<class 'bool'>
True
<class 'str'>

In [98]:
b = 10+2j

print(type(b))

stra = str(b)

print(stra)

print(type(stra))
print(stra[3])

<class 'complex'>
(10+2j)
<class 'str'>
+

In [99]:
inta = 120192028992920920

In [101]:
str_a = str(inta)
print(len(str_a))
print(str_a.count("0"))

18
4

In [ ]:
# a = 1020219079008 (integer)
# count the occurences of Zero(0) without converting the data type.
# print -1 if no occurences.

In [ ]:
stra = "ankaaljalnskhkaaljal"

stra.count("a")

In [1]:
#int to float

inta = 10

floata = float(inta)

print(type(floata))
print(floata)

<class 'float'>
10.0

In [2]:
#float to int

floata =102.6892

inta = int(floata)

print(type(inta))
print(inta)

<class 'int'>
102

In [3]:
#str - int
#only if the strig is in the form numeric "0-9"
a = "101"
b = int(a)
print(b,type(b))

101 <class 'int'>

In [4]:
#str - int
#only if the strig is in the form decimals points
a = "101.187891"
b = float(a)
print(b,type(b))

101.187891 <class 'float'>

In [7]:
bool("swati")

#NOTE : bool("something") : always True
#  bool() : always False

True

In [8]:
bool(10202)
bool(102.2)

True

In [11]:
a = ""
print(len(a)) #length of empty string

1

In [10]:
bool("") #False

False

In [12]:
bool(" ") #True

True

In [13]:
bool(0)

False

In [16]:
bool(0.0)

False

In [17]:
boola = True

floata = float(boola)
print(floata)

1.0

In [18]:
print(len([]))

0

In [ ]:
bool([]) #empty list
bool(()) #empty tuple
bool({}) #empty set or dictionary
bool(0) #interger 0
bool(0.0)
bool("") #empty string

#above all gives Flase

### built-in methods

Math
Function 	Description

abs() 	Returns absolute value of a number

divmod() 	Returns quotient and remainder of integer division

max() 	Returns the largest of the given arguments or items in an iterable

min() 	Returns the smallest of the given arguments or items in an 
iterable

pow() 	Raises a number to a power

round() 	Rounds a floating-point value

sum() 	Sums the items of an iterable

dir()  to list all functions of object

type() to check the data type of the object

len() to count all objects

In [19]:
a = 100
b = 300

print(max(a,b))

300

In [20]:
min(a,b)

100

In [21]:
a = 37.489372

print(round(a))

37

In [24]:
a = 37.499999

print(round(a))

37

In [25]:
b = -1676372.2783

abs(b)

1676372.2783

In [28]:
print(pow(2,8))
print(2**4) #power operator

256
16

In [ ]:
24*60
1440*48

In [30]:


min(a,b)
type(a)

a = 37.289372

round(a,2)

b = -1676372.2783

abs(b)

pow(2,4)

arr = [10,203 ,2093]
print("Sum = " , sum(arr))
print("Length is " , len(arr))
avg = sum(arr)/len(arr)
print(avg)

Sum =  2306
Length is  3
768.6666666666666

### Input function

- It is used to read the data from the input console or user .
- To keep track or dynamic data 

syntax:

variable_name = input("prompt")

In [31]:
name = input("Enter the Name: ")

Enter the Name: Anil Rajamoni

In [32]:
print(name)

Anil Rajamoni

In [33]:
print(type(name))

<class 'str'>

In [34]:
print(name)

Anil Rajamoni

In [42]:
name = input() #by default input method will read the data in String format

10

In [43]:
print(name)
print(type(name))

10
<class 'str'>

In [40]:
print(type("10")) #input
print(type(10))

<class 'str'>
<class 'int'>

In [44]:
print(type(name))

<class 'str'>

In [45]:
int_a = int(name)

print(int_a,type(int_a))

10 <class 'int'>

In [46]:

sal = input("Enter the salary")

sal = float(sal) # map to the same variable

sal2 = float(sal)

print(sal,type(sal2),type(sal))

Enter the salary10.287892
10.287892 <class 'float'> <class 'float'>

In [48]:

str_a = input("Enter name")

str_b = float(str_a) # map to the same variable

str_c = float(str_b) # value error


print(sal,type(str_a),type(str_b))

Enter name10.208029298
10.287892 <class 'str'> <class 'float'>

In [49]:

# int()
# float()
# complex()

# bool()


int_a = int(input("Enter Integer"))


float_a = float(input("Enter Float"))


str_a = input("Enter Name")

bool_a = bool(input("Enter Bool"))
              

print(int_a,type(int_a))

print(float_a,type(float_a))

              
print(str_a,type(str_a))

print(bool_a,type(bool_a))

Enter Integer10
Enter Float10.212
Enter NameDeepa
Enter BoolTrue
10 <class 'int'>
10.212 <class 'float'>
Deepa <class 'str'>
True <class 'bool'>

In [50]:
real = float(input("Enter real part"))
img = float(input("Enter imag part"))

com_var = complex(real,img)

print(com_var)

Enter real part10
Enter imag part4
(10+4j)

In [ ]:
str_b = "                              "
print(len("Helo"))

print(len(str_b))

In [51]:
Claim_id=int(input("enter claim number:"))
Paid_Amount=float(input("enter Paid amount:"))
Patient_name= input("Enter patient name:")
print(Claim_id,type(Claim_id),Paid_Amount,type(Paid_Amount),Patient_name,type(Patient_name))

enter claim number:101
enter Paid amount:10.792
Enter patient name:Deepa
101 <class 'int'> 10.792 <class 'float'> Deepa <class 'str'>

In [ ]:
student_id= int(input(Enter the student id))
student_rank= bool(input(enter the student pass or fail))
student_marks= float(input(enter the student marks))
student_name = input(enter student name)

print(student_id,student_rank,studentmaeks,student_name)
print(type(student_id),type(student_rank),type(student_marks),type(student_name))

In [52]:
#ASCII
# chr() #integer , to know the character
# ord() # character  , to know the number.
print(chr(97))

a

In [54]:
print(chr(65))

A

In [55]:
print(ord('A'))

65

In [56]:
print(ord('a'))

97

In [57]:
print(ord(" "))

32

In [58]:
number_of_matches = int(input("Enter the numberof matches"))


print(number_of_matches)

is_vote = bool(input("Are you 18?"))

print(is_vote)

Enter the numberof matches100
100
Are you 18?yes
True

### sequence Data types

#### List

- Lists are used to store multiple items in a single variable. 
- indexing starts from 0 to n-1
- stores heterogenous data 
- List is mutable , changes are allowed  at locations.
- Declared with []

In [59]:
# 

friends = ["f1","f2","f3","f4","f5","f6","f7","f8","f8","f10"] #Homegenous of String type



print(friends)

print(type(friends))

n = len(friends)

print(n)
print("Friend1 ",friends[0])
print("Friend2 ",friends[1])
print("Friend3 ",friends[2])
print("Friend10 ",friends[n-1])

['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f8', 'f10']
<class 'list'>
10
Friend1  f1
Friend2  f2
Friend3  f3
Friend10  f10

In [60]:
companies  = ["apple", "google yahoo" , True , 1+2j , 1.23232,10]

In [61]:
print(companies)

['apple', 'google yahoo', True, (1+2j), 1.23232, 10]

In [62]:
print(len(companies))

6

In [63]:
print(companies[6])

IndexError: list index out of range

In [65]:
#mutability = changing the location's data
companies[2] = 1082

print(companies)

['apple', 'google yahoo', 1082, (1+2j), 1.23232, 10]

In [66]:
print(companies[0])

apple

In [67]:
print(companies[len(companies)-1])

10

In [68]:
len(companies)

6

In [69]:
print(companies[-2]) #last second object

1.23232

In [70]:
friends[-11]

IndexError: list index out of range

In [71]:
friends

['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f8', 'f10']

#### tuple

    It is also used to store multiple items in a single variable.
    indexing starts from 0 to n-1
    stores heterogenous data
    Tuple is immutable , changes are not at locations
    Declares with ()

In [72]:
stock_prices = (201.76, 302.32 , 35, 987.60)

In [73]:
print(stock_prices)

(201.76, 302.32, 35, 987.6)

In [74]:
stock_prices[0]

201.76

In [75]:
stock_prices[-1]

987.6

In [76]:
stock_prices[2] = 304

# TypeError: 'bbbtuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [77]:
s = "swati"
s[0]="n"
#str is immutable

TypeError: 'str' object does not support item assignment

In [78]:
stock_prices = (float(input("Enter the stock price google ")),float(input("Mircsoft")),float(input("AMZ")))

Enter the stock price google 10.2892
Mircsoft9109.8979
AMZ178.29920

In [79]:
print(stock_prices)

(10.2892, 9109.8979, 178.2992)

In [ ]:
a=input("enter a")
a=float(a)
print(a)
print(type(a))

In [ ]:
#methods
a= float(input("enter a"))
print(type(a))

####  range
- It is also sequence data type to generate collection of data in specified range 

- mainly used for loops

In [80]:
range(0,10,1)

# range(start,stop,step)

range(0, 10)

In [82]:
#list()
# tuple()
#set()
#dict()
print(tuple(range(0,10,1)))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [84]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [85]:
list(range(10))  #(1,10,1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
tuple(range(1,20,2))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [87]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
list(range(0,1,10)) 
#start + Step <= Stop
# Stop is always -1 , (excluded)

[0]

In [89]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [90]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [91]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [92]:
list(range(1,-10,-2))

[1, -1, -3, -5, -7, -9]

In [93]:
list(range(10,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [94]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [95]:
list(range(-1,-20,-2))

[-1, -3, -5, -7, -9, -11, -13, -15, -17, -19]

In [96]:
list(range(10))# default start = 0  m step =1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
l = ["Hello","Hello"]

In [8]:
l=[0]*10
print(l)
print("Hello "+ "Add ") #concat
print("Hello "*10) #multiply

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Hello Add
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [ ]:
a=10
print(type(a))

a=10,
print(type(a))

In [ ]:
a=10,20,30,40
print(type(a))

In [11]:
a = [1,23,3]
b=[10.1,11.21,78.2]

c=[0]*3
print(c)

c[0] = a[0]+b[0]
c[1] = a[1]+b[1]
c[2] = a[2]+b[2]
# c[11]=a[1]+b[2]
print(c)

[0, 0, 0]
[11.1, 34.21, 81.2]

In [13]:
# list()
# tuple()

a= ["abc",'bcd']
print(type(a))
a=tuple(a)
# a[0] = "AK"
print(type(a))
a=list(a)

print(type(a))

<class 'list'>
<class 'tuple'>
<class 'list'>

### set
 Set is a collection which is unordered and unindexed. 
 
 No duplicate members.
 
 Sets are written with curly brackets {}.

In [21]:
a="abcaefahhhjaaaaaaa"
b = ['ace','ball','count','ace']
print(set(a)) #string to set
print(set(b))

{'b', 'a', 'j', 'c', 'h', 'f', 'e'}
{'ball', 'ace', 'count'}

In [20]:
fruits = {"apple","banana","grapes","orange","apple", 10}

print(fruits)
print(type(fruits))
print(len(fruits))

{'grapes', 10, 'orange', 'banana', 'apple'}
<class 'set'>
5

In [19]:
alpha = {"a","b","c","d","z"}
print(alpha)

{'b', 'd', 'a', 'z', 'c'}

In [22]:
alpha[0]
#  'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [23]:

nums1= [10,20,30,10,20,20,30]

nums= {10,20, 30,10,20,20,30}

print(len(nums),len(nums1))

3 7

In [24]:
print(set(nums1))

{10, 20, 30}

### dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values

In [ ]:
NOTE:
    KEY SHould be unique and immutable
    #str
    #tuple
    #int
    #float
    #bool
    #complex
    
    
#not allowed
# - list
# - dict
# - set

In [33]:
some_a = ["Vemuri","PYTHON",["Swathi","november python"],("Python","Ruby"),{"AA","BB","AA"}]

print(some_a[0])
print(some_a[-1])
print(some_a[-2][-2])
print(some_a[2][1])

Vemuri
{'AA', 'BB'}
Python
november python

In [1]:
studentDetails = {
    
    "name":"Fury",
    "class":"High School",
    "id":201,
    True:2345.99,
    ("class",):"lower school",
    "country":"USA",
    "course":["Vemuri","PYTHON",["Swathi","november python"],("Python","Ruby"),{"AA","BB","AA"}]
    
}

In [2]:
print(studentDetails)

{'name': 'Fury', 'class': 'High School', 'id': 201, True: 2345.99, ('class',): 'lower school', 'country': 'USA', 'course': ['Vemuri', 'PYTHON', ['Swathi', 'november python'], ('Python', 'Ruby'), {'AA', 'BB'}]}

In [3]:
studentDetails["class"]

'High School'

In [4]:
studentDetails["class_seven"]

KeyError: 'class_seven'

In [9]:
studentDetails.get('id',"Key is missing") #default is None.

201

In [6]:
studentDetails["course"][1]

'PYTHON'

In [ ]:
#small assignment

1.Just take the inputs into different variables of  all data types like int , float ,str , bool, complex
2.Store that variables in List
3.print the value and type of each values of list


#2

1.Declare two list one with integer values another with  float values.
2.And declare third list add both the interge list & float list  values in it.

In [ ]:
complex(2,3)

### Methods

#### List

Python has a set of built-in methods that you can use on lists/arrays.

- append()	Adds an element at the end of the list

- clear()	Removes all the elements from the list

- copy()	Returns a copy of the list

- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the first item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

In [10]:
a = []
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [14]:
companies_stock = [("TCS",3052),("infosys",1320),("Accen",4321),("wipro",498)]

In [15]:
print(companies_stock)
print(type(companies_stock))

[('TCS', 3052), ('infosys', 1320), ('Accen', 4321), ('wipro', 498)]
<class 'list'>

In [16]:
#check the length 
print(len(companies_stock[1]))

print(len(companies_stock))
print(type(companies_stock[0]))
print(type(companies_stock[0][0]))

2
4
<class 'tuple'>
<class 'str'>

In [17]:
print(companies_stock[-1][0])

wipro

In [18]:
print(companies_stock[3][1])

498

In [19]:
#append () adding the data at end sequence

companies_stock.append(("sbi",360))

In [20]:
print(companies_stock)

[('TCS', 3052), ('infosys', 1320), ('Accen', 4321), ('wipro', 498), ('sbi', 360)]

In [21]:
companies_stock.append(["LVTM",360])

In [22]:
print(companies_stock)

[('TCS', 3052), ('infosys', 1320), ('Accen', 4321), ('wipro', 498), ('sbi', 360), ['LVTM', 360]]

In [24]:
companies_stock.append([10,20]) #error

In [25]:
print(companies_stock)

[('TCS', 3052), ('infosys', 1320), ('Accen', 4321), ('wipro', 498), ('sbi', 360), ['LVTM', 360], [10, 20]]

In [28]:
a = []
# a[0]=20 # change data at the existing locations
a.append(10)
a.append(20)
print(a)
a[0]=200
print(a)

[10, 20]
[200, 20]

In [29]:
#insert(index , object )

#adding at 0th index

companies_stock.insert(0,("IRTC",1750))

In [30]:
print(companies_stock)

[('IRTC', 1750), ('TCS', 3052), ('infosys', 1320), ('Accen', 4321), ('wipro', 498), ('sbi', 360), ['LVTM', 360], [10, 20]]

In [ ]:
companies_stock

In [31]:
companies_stock.insert(-1,("ICIC",1750))

In [32]:
companies_stock.insert(0,('HDFC',1750))

In [33]:
print(companies_stock)

[('HDFC', 1750), ('IRTC', 1750), ('TCS', 3052), ('infosys', 1320), ('Accen', 4321), ('wipro', 498), ('sbi', 360), ['LVTM', 360], ('ICIC', 1750), [10, 20]]

In [1]:
#index () returns the position of item values 
# Return first index of value.

It_companies = ["Google","Microsoft","Amazon","Netflix","Ola","TCS","Infosys","TCS","Accenture"]

print(len(It_companies))

print(It_companies.index("Accenture"))




        
print(It_companies.index("TCS"))

9
8
5

In [35]:
It_companies.append("A","B")

TypeError: append() takes exactly one argument (2 given)

In [36]:
print(It_companies)

['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture']

In [37]:
It_companies.append(["Wipro","optum"])

In [38]:
print(It_companies)

['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum']]

In [41]:

print(['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture'] + ["Wipro","optum"])

['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', 'Wipro', 'optum']

In [40]:
#extend () list addition 

It_companies.extend(["Wipro","optum", "netflix"])

print(It_companies)

['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix']

In [42]:
It_companies.extend(["Info","JPMC"])
print(It_companies)

['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']

In [59]:
#copy 

Duplicate_list = It_companies.copy()

dup2 = It_companies.copy()


print(It_companies)
print(Duplicate_list)
print(dup2)

['SWATI', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']
['SWATI', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']
['SWATI', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']

In [44]:
id(dup2) # address of the object

2354547595968

In [45]:
print(id(dup2) , id(Duplicate_list) , id(It_companies))

2354547595968 2354545416064 2354545484736

In [49]:
a=10
b=10.1
print(id(a) ,id(b))

140707326011472 2354548663888

In [47]:
some_var = It_companies #alias

print(It_companies)
print(some_var)

print(id(some_var) , id(It_companies))

['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']
['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']
2354545484736 2354545484736

In [51]:

some_var[0]="SWATI"
print(It_companies)
print(some_var)

['SWATI', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']
['SWATI', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']

In [52]:
Duplicate_list

['Google',
 'Microsoft',
 'Amazon',
 'Netflix',
 'Ola',
 'TCS',
 'Infosys',
 'TCS',
 'Accenture',
 ['Wipro', 'optum'],
 'Wipro',
 'optum',
 'netflix',
 'Info',
 'JPMC']

In [53]:
Duplicate_list[0]="Goog"
print(It_companies)
print(Duplicate_list)

['SWATI', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']
['Goog', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture', ['Wipro', 'optum'], 'Wipro', 'optum', 'netflix', 'Info', 'JPMC']

In [54]:
#copy() method will create a separate block of memory , so ID's will be different
# Changes in one variable will affect in another variable

In [62]:
#clear() - delete all the elements

Duplicate_list.clear()

print(Duplicate_list)
# Duplicate_list = [10,20]
# print(Duplicate_list)

#del - to delete  the object/var  from the memory perman
del Duplicate_list

print(Duplicate_list)

NameError: name 'Duplicate_list' is not defined

In [63]:
#reverse ()
It_companies.reverse()

print(It_companies)

['JPMC', 'Info', 'netflix', 'optum', 'Wipro', ['Wipro', 'optum'], 'Accenture', 'TCS', 'Infosys', 'TCS', 'Ola', 'Netflix', 'Amazon', 'Microsoft', 'SWATI']

In [68]:
#pop()  # default = -1 , return the popped elemet 

last_item = It_companies.pop() #default index = -1

print(last_item)
print(It_companies)

Ola
['JPMC', 'Info', 'netflix', 'optum', 'Wipro', ['Wipro', 'optum'], 'Accenture', 'TCS', 'Infosys', 'TCS']

In [69]:
print(It_companies.pop(3))

optum

In [70]:
a=[]
print(len(a))
print(a.pop())

0

IndexError: pop from empty list

In [73]:
a = print(print("Ehllo"))
print(a)

Ehllo
None
None

In [71]:
#remove() based on value 

First_occur_item = It_companies.remove("TCS")
print(First_occur_item)
print(It_companies)

None
['JPMC', 'Info', 'netflix', 'Wipro', ['Wipro', 'optum'], 'Accenture', 'Infosys', 'TCS']

In [2]:
#count()

print(It_companies.count("Ola"))

1

In [3]:
print(It_companies.count("Wipro"))

0

In [5]:
a = " a b a  ab c a b a ".split()
print(a,type(a))
print(a.count('a'))

['a', 'b', 'a', 'ab', 'c', 'a', 'b', 'a'] <class 'list'>
4

In [8]:
#sort 
#note : if its str , sort based on ascii value 

print(It_companies)

It_companies.sort()

print(It_companies)

['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture']
['Accenture', 'Amazon', 'Google', 'Infosys', 'Microsoft', 'Netflix', 'Ola', 'TCS', 'TCS']

In [10]:
some_list = ['a','k','r','b','K','i','e','A']
some_list.sort()

print(some_list)

['A', 'K', 'a', 'b', 'e', 'i', 'k', 'r']

In [12]:
some_list = ['a','k','r','b','K','i','e','A']
some_list.sort(reverse=True) #reverse = false -> ASD(increasing ) , =True (desc)

print(some_list)

['r', 'k', 'i', 'e', 'b', 'a', 'K', 'A']

In [13]:
a=[10,203,20,0,5011,602]
a.sort(reverse=True)
print(a)

[5011, 602, 203, 20, 10, 0]

In [11]:
ord("A"),ord("a")

(65, 97)

In [ ]:
chr(65)

In [ ]:
ord("A")
ord("a")

lista=[10,1,99,19,0]
lista.sort(reverse=True)

print(lista)

In [14]:
# chr()
# ord()

print(ord("A"))
print(ord("a"))
print(ord("g"))
print(chr(65))
print(chr(67))

65
97
103
A
C

In [ ]:
print(type(It_companies))
dir(It_companies)

In [ ]:
a={} #diict
dir(a)

In [ ]:
# all list methods
append() # only 1
extend() # more than 1 or add list to the tail of the another tail
count()
index()
sort()
reverse()
copy()



#insertion of data
append()
extend()
insert()

#deletion

remove() #based onvalues
clear() #all
pop() #based on loc

#sorting
sort()

#copy
copy()

#index and counting

index()
count()

#### tuple methods

Python has two built-in methods that you can use on tuples.


- count()	Returns the number of times a specified value occurs in a tuple
- index()	Searches the tuple for a specified value and returns the position of where it was found

In [16]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)
print(thistuple.count(5))

2
2

In [ ]:
dir(thistuple)

In [17]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [19]:
teams = ("india","NZ","AUS","Ban","NZ","Pak","india","nz")

print(teams.count('nZ'))

0

In [20]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(7) #returns the first occurence of item

print(x)

2

#### set methods
Python has a set of built-in methods that you can use on sets.

- add()	Adds an element to the set
- clear()	Removes all the elements from the set
- copy()	Returns a copy of the set
- difference()	Returns a set containing the difference between two or more sets

- intersection()	Returns a set, that is the intersection of two other sets

- symmetric_difference()	Returns a set with the symmetric differences of two sets

- union()	Return a set containing the union of sets

other methods are

- pop()
- remove()
- discard()
- isdisjoint()
- issubset()
- issuperset()
- update()

In [21]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'banana', 'orange', 'apple', 'cherry'}

In [22]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

fruits.add("orange")

{'banana', 'orange', 'apple', 'cherry'}

In [23]:
#difference()
# syntax 
# setA.difference(setB)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) #x-y 

print(z)

{'banana', 'cherry'}

In [24]:
#difference()
# syntax 
# setA.difference(setB)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x) #y-x

print(z)

{'google', 'microsoft'}

In [25]:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x) | x.difference(y) #union = |

print(z)

{'banana', 'google', 'cherry', 'microsoft'}

In [27]:
#discarrd()

fruits = {"apple", "banana", "cherry","banana",11,11,11,11}

print(fruits)

fruits.discard("banana")
# 
print(fruits)

{'banana', 11, 'apple', 'cherry'}
{11, 'apple', 'cherry'}

In [29]:
fruits.discard("banana")

print(fruits)

# Remove an element from a set if it is a member.
# If the element is not a member, do nothing

{11, 'apple', 'cherry'}

In [30]:
#intersection = common elements

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [31]:
#union 
# Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'cherry', 'banana', 'microsoft', 'google'}

In [32]:
#symmnetric_difference()
# syntax

# set.symmentric.difference(set)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.symmetric_difference(x)

print(z)

{'banana', 'microsoft', 'google', 'cherry'}

In [ ]:
dir(x)

In [34]:
#isdisjoint()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y) #x not equal to y #true or false 

print(z)

False

In [35]:
#
print(x)
# x.pop()

{'banana', 'apple', 'cherry'}

In [39]:
x.pop()

KeyError: 'pop from an empty set'

In [40]:
x

set()

In [41]:
x.remove("banana")

KeyError: 'banana'

In [ ]:
x

In [ ]:
# set methods
union()
add()
intersection()
difference()
symmetric_difference()
discard()
pop()
remove()

### Dict Methods

Python has a set of built-in methods that you can use on dictionaries.

- clear()	Removes all the elements from the dictionary
- copy()	Returns a copy of the dictionary
- fromkeys()	Returns a dictionary with the specified keys and value
- get()	Returns the value of the specified key
- items()	Returns a list containing a tuple for each key value pair
- keys()	Returns a list containing the dictionary's keys
- pop()	Removes the element with the specified key
- popitem()	Removes the last inserted key-value pair
- setdefault()	Returns the value of the specified key. If the key does  not exist: insert the key, with the specified value
- update()	Updates the dictionary with the specified key-value pairs
- values()	Returns a list of all the values in the dictionary

In [42]:
comp = {
  "name": "Google",
  "type": "MNC IT",
  "year": 1992
}

In [43]:
# one way of accessing
print(comp["name"])

#second

print(comp.get("type"))

Google
MNC IT

In [49]:
# print(comp["name1"]) #KE



print(comp.get("type1", "Key not found")) #None #No KE 
print(1+2)
print("Jellp")

Key not found
3
Jellp

In [50]:
comp["course"]

KeyError: 'course'

In [51]:
comp.get('name1',"No Value")

'No Value'

In [52]:
print(comp.get("name1","Invalid key"))

Invalid key

In [53]:


x = comp.get("type1","Invalid Key")

print(comp.get("type"))
print(x)

MNC IT
Invalid Key

In [54]:
comp["name"]
comp["year"]

1992

In [55]:
comp["branch"]

KeyError: 'branch'

In [58]:
comp.get("year1","year1 is not a key ")

'year1 is not a key '

In [59]:
comp

{'name': 'Google', 'type': 'MNC IT', 'year': 1992}

In [60]:
#keys() = Return the list of keys [k1,k2,k3]
print(comp.keys())

dict_keys(['name', 'type', 'year'])

In [61]:
#values() # Return the list of values [v1,v2,v3]

print(comp.values())

dict_values(['Google', 'MNC IT', 1992])

In [62]:
#items() ->key+values List of typle [(K,v),(k1,v1),(k2,v2)]

print(comp.items())

dict_items([('name', 'Google'), ('type', 'MNC IT'), ('year', 1992)])

In [63]:
x = comp.items()
print(type(x))

<class 'dict_items'>

In [ ]:
comp

In [65]:
#pop()

popped = comp.pop("year") #based year

print(popped)
print(comp)

KeyError: 'year'

In [66]:
# pop_item()
popped_item = comp.popitem()
print(popped_item)
print(comp)

('type', 'MNC IT')
{'name': 'Google'}

In [67]:
print(comp)

{'name': 'Google'}

In [72]:
#update 

comp.update({"year1":2046})
#if key is not there , it will create a new key

In [73]:
print(comp)

{'name': 'Google', 'year': 2026, 'year1': 2046}

In [74]:
comp.update({"name1":"Amazon"})

In [75]:
print(comp)

{'name': 'Google', 'year': 2026, 'year1': 2046, 'name1': 'Amazon'}

In [76]:
student={
    "name":input("Enter the name"),
    "roll_no":int(input("Enter the roll no")),
    "course":input("Enter the course")
}

Enter the nameANil K Rajamoni
Enter the roll no96
Enter the coursepython

In [ ]:
print(student)

In [77]:
x = ('key1', 'key2', 'key3')
y = ('a','b','c')

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': ('a', 'b', 'c'), 'key2': ('a', 'b', 'c'), 'key3': ('a', 'b', 'c')}

In [ ]:
#NOTE 
#accessing and removing with unknow key=>key error
#for updating it will , add a new item (K , V)

In [ ]:
#little exercise 


# Pyinsta is Python Community?



1.
# declare a list with different data types
# print type of each item in the list

# 2.declare two list with intergers or floats
# add those two lists and print the result

# 3.create a your own two dictionaries
# try to merge them , store it in a new variable.

# 4 . Declare a List with ["Mi","vivo","realme","Oneplus","Mi","Redmi","realme"]
# add a new list to it ["oppo","iphone"]
# remove the duplicates in th list and print the mo`dified list

In [ ]:
# {}+{}

### Indexing and slicing

<img src = "https://dq-blog-files.s3.amazonaws.com/list-tutorial/py1m2_positive_negative.svg">

#### list

In [1]:
#list 

list_1D = ["Facebook",0.0,"USD",2974676,3.5,True,10+2j]

n = len(list_1D)

#accesing the 2nd element 

print(list_1D[1])

print(list_1D[-2])
print(list_1D[-6])
print(list_1D[-len(list_1D)])

0.0
True
0.0
Facebook

In [ ]:
#multidimensional list 
#There can be more than one additional dimension to lists in Python. 
#Keeping in mind that a list can hold other lists, that basic principle can be applied over and over. 
#Multi-dimensional lists are the lists within lists.

In [3]:
list_2D= [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(list_2D)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [4]:
print(len(list_2D))

3

In [5]:
list_2D[0]

[2, 4, 6, 8, 10]

In [6]:
list_2D[1]

[3, 6, 9, 12, 15]

In [7]:
list_2D[2]

[4, 8, 12, 16, 20]

In [8]:
list_2D[0][3]

8

In [9]:
list_2D[-3][-2]

8

In [10]:
list_2D[1][-1]

15

In [12]:
list_2D[1][-1]

15

In [ ]:
list_2D[2][-2]

In [13]:
list_2D= [[2, 4, 6, 8, 10,['Google','MS','Info']], [3, 6, 9, 12, 15,['a','dog','bird']], [4, 8, 12, 16, 20]]

print(list_2D[0][5][2])

Info

In [14]:
list_2D[1][5][1]

'dog'

In [15]:
list_2D[-3][-1][-1][-2]

'f'

In [16]:
list_2D[-3][-1][-2][-1]

'S'

In [ ]:
#accesing the 8 data value
print(list_2D[0][3])
print(list_2D[-3][-3])
print(list_2D[1][len(list_2D[1])-1])
print(list_2D[1][4])

In [17]:
#excercise

some_list = [1,2,['a','b',['cat','dog'],'c'],3]

# write a statement to access 't' of 'cat'
print(some_list[2][2][0][2])

t

In [24]:
print(some_list[2][2][1][2])

g

In [ ]:
print(some_list[-2][-2][-2][-1])

In [ ]:
print(some_list[2][2][0][2])
print(some_list[-2][-2][-2][-1])

In [ ]:
a=[1,2,['a','b',['cat','dog'],'c'],3]
a[2][2][0][2]
a[-2][-2][-2][-1]

In [ ]:
some_list[2][2][0][2]

In [ ]:
list(range(10,-1,-1))

In [26]:
list(range(1,10,3))

[1, 4, 7]

In [27]:
#slicing  [start:stop:step]
# step =1 #default
# stop = exclusive # default = len
# start = 0 # default



#if the step is -1
#start -1
#stop = -len+(-1)
#step = -1 

#result is reverse order.



list_1D = ["Facebook",0.0,"USD",2974676,3.5,True,10+2j]


# list_name[start:stop:step]
list_1D[1:4:1]

[0.0, 'USD', 2974676]

In [28]:
list_1D[1:4]

[0.0, 'USD', 2974676]

In [29]:
list_1D[-1:-8:-2]

[(10+2j), 3.5, 'USD', 'Facebook']

In [30]:
list_1D[1:0:-1]

[0.0]

In [31]:
list_1D[3:0:1]

[]

In [33]:
list_1D[:8]

['Facebook', 0.0, 'USD', 2974676, 3.5, True, (10+2j)]

In [34]:
list_1D[0:100:2]

['Facebook', 'USD', 3.5, (10+2j)]

In [ ]:
some_list = [1,2,3,4,5,6,7,8,9,10,11,12]

In [ ]:
some_list[1:13:2]

In [ ]:
some_list[-1:-13:-2]

#even with negative indexing

In [ ]:
some_list = [1,2,['a','b',['cat','dog'],'c'],3]

In [ ]:
some_list[2:3:2]

In [ ]:
some_list[2][2][0:1]

In [ ]:
list_2D

In [ ]:
list_2D[1][2:]

In [35]:
list_1D[:]

['Facebook', 0.0, 'USD', 2974676, 3.5, True, (10+2j)]

In [46]:
list_1D[::-2] #reverse `a

[(10+2j), 3.5, 'USD', 'Facebook']

In [45]:
n = len(list_1D)
print(n)
list_1D[-1:(-n)-1:-1]

7

[(10+2j), True, 3.5, 2974676, 'USD', 0.0, 'Facebook']

In [ ]:
list_1D[-1:-8:-1]

In [ ]:
list_1D

In [ ]:
list_1D.reverse()

In [ ]:
list_1D

In [ ]:
list_1D[::-1] #reverse `a

In [ ]:
list_1D[-1:-8:-1] #-(len+1)= stop . start = -1 when step is -1

In [ ]:
list_1D

In [ ]:
some_list

In [ ]:
some_list.reverse()

In [ ]:
s="swati"
s[::-1]

In [ ]:
some_list

In [ ]:
rev = some_list[::-1]

In [ ]:
some_list[-1:-5:-1]

In [ ]:
rev

In [ ]:
list_1D

In [10]:
name = "AKRajamoni"
print(name[:3])
print(name[1:6:2])
print(name[-1:-4:-1])
print(name [:])
print(name[::-1]) #reverse order
print("".join(reversed(name)))

AKR
Kaa
ino
AKRajamoni
inomajaRKA
inomajaRKA

#### tuple

In [12]:
imdb = (("Instant Family",7.2,("Hugo",7.8)),["Intersellar",8.0],{"Tenet",7.5},{"Movie_Name":"Despicable Me","Rating":7.2})

In [ ]:
#check the type of each item in tuple named imbd

In [13]:
print(imdb)

(('Instant Family', 7.2, ('Hugo', 7.8)), ['Intersellar', 8.0], {7.5, 'Tenet'}, {'Movie_Name': 'Despicable Me', 'Rating': 7.2})

In [14]:
print(type(imdb))

<class 'tuple'>

In [15]:
type(imdb[0][0])

str

In [16]:
imdb[1][0]="Don't breathe"
print(imdb)

(('Instant Family', 7.2, ('Hugo', 7.8)), ["Don't breathe", 8.0], {7.5, 'Tenet'}, {'Movie_Name': 'Despicable Me', 'Rating': 7.2})

In [17]:
print(imdb[0])

('Instant Family', 7.2, ('Hugo', 7.8))

In [18]:
imdb[0][2][0]

'Hugo'

In [19]:
print(type(imdb[0]))

<class 'tuple'>

In [20]:
print(type(imdb[1]))

<class 'list'>

In [21]:
print(type(imdb[2]))

<class 'set'>

In [22]:
print(type(imdb[3]))

<class 'dict'>

In [25]:
print(imdb[3])

{'Movie_Name': 'Despicable Me', 'Rating': 7.2}

In [33]:
imdb[3].get("Movie_Name11","Check the key name again")

'Check the key name again'

In [34]:
#access the movie Despicable 

print(imdb[3]["Movie_Name"])

Despicable Me

In [35]:
print(imdb)

(('Instant Family', 7.2, ('Hugo', 7.8)), ["Don't breathe", 8.0], {7.5, 'Tenet'}, {'Movie_Name': 'Despicable Me', 'Rating': 7.2})

In [44]:
print(imdb[0][2][1])

7.8

()

(('Instant Family', 7.2, ('Hugo', 7.8)), ["Don't breathe", 8.0], {7.5, 'Tenet'})

In [45]:


teams=("IND","PAK","NZ","ENG","AUS")

In [46]:
teams[1:3]

('PAK', 'NZ')

In [47]:
teams[::-1] #reverse order

('AUS', 'ENG', 'NZ', 'PAK', 'IND')

In [48]:
print(teams[5])

IndexError: tuple index out of range

#### set

In [49]:
crypto = {"Bit coin","Dogecoin","Etherum"}

print(crypto[0]) 

print(crypto)

TypeError: 'set' object is not subscriptable

In [50]:
crypto = {"Bit coin","Dogecoin","Etherum",{"INR"}}
print(crypto)


#issue is that sets can only contain hashable objects, and a set is not hashable.

#use the frozenset type, which is hashable, for the elements of the outer set.

TypeError: unhashable type: 'set'

In [ ]:
# list()
# tuple()
# set()
# dict()
#int()
# float()
# str()
# frozenset()

In [ ]:
s

In [ ]:
dir(x)

In [51]:
d={"a":[1,{"a":10}],
    "x":{"x":20}}


print(d)

{'a': [1, {'a': 10}], 'x': {'x': 20}}

In [58]:
print(d['a'])
print(d['x'])
print(d['x']['x'])
print(d['a'][1]['a'])

[1, {'a': 10}]
{'x': 20}
20
10

In [ ]:
d["a"][1]["a"]
d["x"]["x"]

In [ ]:
#set mutable
#frozenset is immutable

### Operators

Operators are used to perform operations on variables and values.

They are used to perform the many arthimetical and mathematical operations on data .

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

##### Arithmetic operators

- They are used to perform the basic math operations .

In [ ]:
num1 = 22

num2 = 44


print("Addition is :",(num1+num2))

print("Subtraction is :",(num1-num2))

print("Multliplication is :",(num1*num2))

# 4

print("Division is  It gives Folating Quotient:",(num1/num2))

print("Floor Division is  It gives a Integer Quotient:",(num1//num2))

#remainder

print("Modulus (Remainder) is :",(num1%num2))


print("Power or Expo n^n is :",(num1**num2)) #2^3 # 2*2*2 #num1^num2

In [ ]:
a=10
b=20
a+b
a-b

In [ ]:
a=10
b=3
a//b #floor divisior = integer quotient
a%b

In [60]:
a=31
b=7.2
print("modulus",(a%b))

modulus 2.1999999999999993

In [62]:
print(-5%3)
print(5%3)

1
2

In [ ]:
# Note :

# 1. addition with the float object , the result is float type


# 2. Division with the float object , the result is float type

#3 .Python modulo operator (%) is used to get the remainder of a division. The modulo operation is supported for integers and floating point numbers.

#4.a/b = q with remainder r preserves the relationships b*q + r = a and 0 <= r < b.

In [ ]:
print(-5%3)

# 5/3 = 2

# (1-3*2)%3 
#5/3 = 2
#-5 = 6
#6-5 =1

In [ ]:
print(-10%4)
#10/4 = 2
# 10 =8
# 2

#### assignment opertors 

Assignment operators are used to assign values to variables

In [63]:
num1 = 5


print(num1)

# num1 = num1+3
# num1 = num1+6

num1 +=3 #num1= num1+3

print(num1)

num1-=2#num1= num1-2

print(num1)

num1*=6 #num1 = num1*6

print(num1)

num1/=3

print(num1)

num1//=5

print(num1)

num1**=2
print(num1)

5
8
6
36
12.0
2.0
4.0

#### Comparision Operator 
It is used to compare two values / objects .

It return the boolean type either True or False

== 	Equal 	x == y 	

!= 	Not equal 	x != y 	

">" Greater than 	x > y 	
<  Less than 	x < y 	
">="  Greater than or equal to 	x >= y 	
"<="  Less than or equal to 	x <= y

In [65]:
x = 10
y = 5
print(x==y)

print(x!=y)

print(x>y)

print(x<y)

print(x<=y)

print(x>=y)

print(10>=10)
print(10!=10)

False
True
True
False
False
True
True
False

#### Logical Operators 

- It is used to combine to two conditional statements


- and  	Returns True if both statements are true 	x < 5 and  x < 10 	
- or 	Returns True if one of the statements is true 	x < 5 or x < 4 	
- not 	Reverse the result, returns False if the result is true 	not(x < 5 and x < 10)

In [ ]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

#### identity operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

- (is  	     )     Returns True if both variables are the same object 	x is y 	
- (is not 	 )       Returns True if both variables are not the same object 	x is not y

In [66]:
a = 10

print(type(a))
print(id(a))


b = 11

print(id(b))


print(a is b)

print(a is not b)

<class 'int'>
140707312248912
140707312248944
False
True

In [68]:
a = 10

print(id(a))


b = 10

print(id(b))

#both refer to the same object memory location

print(a is b)
print(a is not b)

x= 100

y=200
print( x is y)
print(id(x),id(y))
print(x is not y)

140707312248912
140707312248912
True
False
False
140707312251792 140707312254992
True

In [69]:
a=[10]
b=[10]
print(id(a),id(b))
print(a is b) #address
print(a==b) #values
# c=a #alias
# print(c is a)

#NOTE : for sequence , even if you have same data type , it will not point to same memory location because methods functionality.

2504443460352 2504445342784
False
True

In [ ]:
a=[10]
b=[10]
print(id(a[0]),id(b[0]))
print(a[0] is b[0])

### Negative modules

Pythons modulo operator (%) always return a number having the same sign as the denominator. What happens behind the scene is that Python applies the distribute law of Modulo operator which is  

(a+b)mod n = [(a mod n)+(b mod n)]mod n

In [1]:
10%3

1

In [2]:
10%-3

-2

In [ ]:
10%-3 #remainder
-3*-4-2

In [ ]:
print(-5%4)

#-5%4 = (-2*4 + 3) % 4 = 3
# -3 % 7 = ( -1*7 + 4 ) % 7 = 4 
# -5 % 2 = (-3*2 + 1) % 2 = 1

#### Member ship operator 

Membership operators are used to test if a sequence is presented in an object:

(in  )	Returns True if a sequence with the specified value is present in the object 	x in y 	
(not in) 	Returns True if a sequence with the specified value is not present in the object 	x not in y

In [6]:
array = [1,2,3,4,5]

print( 1 in array)
print(10 in array)
print(2 not in array)


print(8 not in array)

print("cpp" in "python hub")
print("cpp" in "cpp programming")
print(8 not in list(range(1,4)))

True
False
False
True
False
True
True

In [3]:
for data in range(1,10,2):
    print(data)

1
3
5
7
9

In [5]:
for data in range(1,10,2):
    print(data)

SyntaxError: invalid syntax (<ipython-input-5-10d320050619>, line 1)

SyntaxError: invalid syntax (<ipython-input-8-6ad7cde788d9>, line 1)

# Bitwise 

Bitwise operator is used to compare the Binary bits 

Operator 	Name 	Description

(& ) 	AND 	Sets each bit to 1 if both bits are 1

(|) 	OR 	Sets each bit to 1 if one of two bits is 1

 (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0
 
(~ ) 	NOT 	Inverts all the bits (only for not operand)

A  B     AND  OR  NOT XOR
0 0     0    0     1    0
0 1     0    1     1    1
1 0     0    1     0    1
1 1     1    1     0    0

In [ ]:
#representing
# 32 vs 64
# 1e64
# 8 bit 

7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

128 |64 |32 |16| 8 | 4 |2  |1    min =0 max = 255

In [9]:
bin(20)

'0b10100'

In [12]:
a = 3
b = 4

# 3 - 0 1  1
# 4 - 1 0  0
# -----------------
#        0  0   0
# 
###### AND 000

###### OR 111

###### EXOR 111

#####NOT 100

print(a & b)

#0 is -ve
#1 +ve

0

In [13]:
print(a | b)

7

In [14]:
print(a ^ b)

7

In [19]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100

# 3 011
#
# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

0b11
-4

In [20]:
a = 10 #= 1010 (Binary)

# ~a = ~1010
#    = -(1010 + 1)
#    = -(1011)
#    = -11 (Decimal)
print(~a)

-11

In [22]:
a = 15
print(bin(15))

print(~a)

0b1111
-16

In [1]:
print(~-10)

9

In [3]:
print(bin(10))

# -(-1010+1)

0b1010

In [26]:
print(bin(-10))

-0b1010

In [ ]:
bin(3)

In [ ]:
bin(4)

In [ ]:
print('''Python 
Programming ''')

In [4]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>2)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

2

In [5]:
10 // 2**2

# n//2^bits

2

In [6]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits

a = 10
print(a<<1)

# 8bit
#00001010 =>10
#00010100

# after shifting 1 bit to the left

#00010100 =>20

20

In [7]:
# n*2^bits
10*(2^1)

30

In [8]:
bin(10)

'0b1010'

In [10]:
x = 0b10100
print(x)

20

In [ ]:
10*2**1

In [ ]:
2**4

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, well see unexpected outputs.

#### Operator Precedence:
This is used in an expression with more than one operator with different precedence to determine which operation to perform first

<img src = "">

In [11]:
10+20*30/10

70.0

In [12]:
10 + (20 * 30) / 10

70.0

In [13]:
(10+20) * 30/10

90.0

In [ ]:
# 10 + 20 * 30 is calculated as 10 + (20 * 30)
# and not as (10 + 20) * 30

In [14]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Hello! Welcome.

In [15]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Good Bye!!

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
It can either be Left to Right or from Right to Left.

In [16]:
print(200 / 10 * 10)

200.0

In [ ]:
print(5 - 2 + 3)

In [17]:
#right to left
print(2 ** 3 ** 2)

512

In [ ]:
#Solve

100 + 200 / 10 - 3 * 10

In [ ]:
#py2 vs py3
#print()
# input()
# variables & rules
# naming styles 
#data type
# sequence data types
#operators

In [ ]:
Operators	Meaning
()	Parentheses
**	Exponent
+x, -x, ~x	Unary plus, Unary minus, Bitwise NOT
*, /, //, %	Multiplication, Division, Floor division, Modulus
+, -	Addition, Subtraction
<<, >>	Bitwise shift operators
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==, !=, >, >=, <, <=, is, is not, in, not in	Comparisons, Identity, Membership operators
not	Logical NOT
and	Logical AND
or

In [ ]:
a={"name":"ak","course":"Python"}
b={"type":"IT", "price":10000}

c= {**a,**b}

In [ ]:
c

In [ ]:
print(*a)

In [ ]:
print()