In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#getting output for all lines in the CELL

In [ ]:
a= "Ravi"
a #print(a)
b = "Python"
b

In [ ]:
print("Hey Hi Hola !!") #double 
print('Welcome') #single
print("""Python Session""") #thriple

In [ ]:
print("Hello")
print("Hi"*10)
print("pythonepi"*10)

#### shortcuts for jupyter notebook

- shift + enter = run cell

- ESC -> command Mode
- b - insert cell below
- a - insert above
- x = dell the cell
- m - markdown (write any text)

In [ ]:
print(10) #print() used to print any valid data on console.

In [ ]:
print(10.222)

In [ ]:
print(True , False)

### Python Intro

<img src = " https://files.realpython.com/media/Newbie_Watermarked.a9319218252a.jpg" width = "500" height = "800">

### Python 2 vs Python 3

<img src = "https://media.geeksforgeeks.org/wp-content/uploads/20190503154837/Python2_python3.jpg"  width="500" height="600">

In [ ]:
print(ord("R") , ord("a"))

In [ ]:
print(chr(2313))

In [ ]:
print(ord("उ"))

In [ ]:
print(ord(" "))

In [ ]:
print(ord("^"))

In [ ]:
print(ord("A"),ord("a"))

In [ ]:
2**8

In [ ]:
2**16 #Expo

In [ ]:
# print "hellol"
print("hello")

### Print function 

- It is used to print the information or objects data to the console 

syntax:


print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

- this is the syntax of the print functions

In [ ]:
print('Hello python')
print(10)

In [ ]:
print(''' Hello python ''')

In [ ]:
print("Hello World !...")
print(10)

In [ ]:
studentname = "DivyaSree"
print(studentname)

In [ ]:
a = 10
b = " is Even "
c = "and it is True"

#comment : it will not execute.
print(a)
print(b)
print(c)

In [ ]:
print(a,b,c)

In [ ]:


print(a,b,c)
print(a,b,c , sep=" -> ")
# # # sep the variables when we have more than one variable.

In [ ]:

print(a,b,c , sep="**")

print(a,b,c , sep="\n") #new line

In [ ]:
sample = open('student.txt', 'a') # creating the write.
  
print('GeeksForGeeks Python Language July2nd',file=sample)
sample.close()

### Comments 

- computer programming, a comment is a programmer-readable explanation or annotation in the source code of a computer program. 
- They are added with the purpose of making the source code easier for humans to understand, and are generally ignored by compilers and interpreters.
- They are non executable statements (lines)

- 2 types of comments in python 
    - single  #
    - multiline ''' ''''

In [ ]:
# this is comment written sairam hjghjg768hkbuiy98y7gt87y99
# cnt+/ = to comment the code
# skjsn,

'''
this is program written on may12th

multiline

Python comments
'''

# Today im learning print method and comments and variables
# Pthon 2
# python 4

## Variables

**Think of a variable as a name attached to a particular object. In Python, variables need not be declared or defined in advance, as is the case in many other programming languages. To create a variable, you just assign it a value and then start using it. Assignment is done with a single equals sign (=):**

- A Varible is nothing but giving a name to the memory location(s) to store the value , so that we can reuse that value whenever  needed.

- It possess a Variablity property , it can change its value during the phase of execution 

#### Rules to define a variable  

    A variable name must start with a letter or the underscore character.
    A variable name cannot start with a number.
    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    Variable names are case-sensitive (age, Age and AGE are three different variables)
    No Variable canT have the same name as a reserved word.

In [ ]:
# other languages (c, cpp , java)
int age = 20  #4bytes 
String name = "meet"
float f = = 1082.287 #4 bytes

age = 10.3765672 #invalid


#static , strickly

In [ ]:
2**64-1

In [ ]:
#Python dynamic lang = data type is decided based on the value
# <variable_name > = <value>

age = 2500000000000000000000000000000000000000000000000000000000000

In [ ]:
print(age)
print(type(age))
#type(variable_name) : check the datatype of the Var

In [ ]:
age = 25.5
print(age , type(age))

In [ ]:
age = "a"
print(age , type(age))

In [ ]:
age = True
print(age , type(age))

In [ ]:
2**63

In [ ]:
2**32  # for int

In [ ]:
student_name = "Ak Rajamoni"
print(student_name)#snake case

In [ ]:
#valid variable names

name = "Snowy"
Age = 8
is_pet = True
name = 10.21

print(name , Age , is_pet , sep="\t \t") #\t = TAB \n = new line

In [ ]:
student_name = "DEEPA "

print(type(student_name))

In [ ]:
# invalid variable names

98_age = 30 #ibt gives the error

In [ ]:
age_98=30
print(age_98)

In [ ]:
_ = "Hello"
print(_, type(_))

In [ ]:
import keyword

print(keyword.kwlist)

In [ ]:
len(['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'])

In [ ]:
import = 10
True = "AK"
#invalid

In [ ]:
True_ = 10
print(True_)

In [ ]:
True_True = True

print(type(True_True))

In [ ]:
print("False  true None and as Aseert")

In [ ]:
len(['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'])

In [ ]:
# Note that case is significant. Lowercase and uppercase letters are not the same. 
# Use of the underscore character is significant as well. Each of the following defines a different variable:

age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
ega = 10

In [ ]:
print(id(age) , id(ega))

# id() -> memory address
# type()-> to know to data type

In [ ]:
id(Age)

In [ ]:
a=10
b=10
c= 10
print(id(a) , id(b) , id(c))

b=b+2
c=c-1

print(id(a) , id(b) , id(c))

#pre defined functions

- type(obj) : to check the data type
- id(obj) : to know the addr
- len(obj) : to count the occurences .

In [ ]:
a=10
b=10
c=10

In [ ]:
#assign a single value to mutliple variables

a = b = c =1729



print(a,b,c)

In [ ]:
#assign a different values to mutliple variables in one line
a,b,c = 1729,10,12

print(a,b,c,sep="\n") #\n = new line

### Naming styles


    Camel Case:
    Second and subsequent words are capitalized, to make word boundaries easier to see.
        Example: numberOfCollegeGraduates
        
        for naming functions
        
    Pascal Case: 
    Identical to Camel Case, except the first word is also capitalized.
        Example: NumberOfCollegeGraduates
        
        for naming Classes
    
    Snake Case: 
    Words are separated by underscores.
        Example: number_of_college_graduates
        for  naming variables

In [ ]:
movie_actor = "Tom Hanks"
print(movie_actor , type(movie_actor) , id(movie_actor))

In [ ]:
price_apple = 50
banana_price = 70
print(price_apple,banana_price,sep="\n")

In [ ]:
#int
#float
#str
#boolean (True,False)
#use type() - > data type, id() -> memory id
int_var = 10
print(int_var)
print(type(int_var))
print(id(int_var))

In [ ]:
if = "SaiRam" #if is reversed word or keyword

In [ ]:
python_session ="June Session"
print(python_session)
python_session

In [ ]:
"hello" #print('hello')

In [ ]:
10 #print(10)

In [ ]:
a=10
a #print(a)
b=20
b #print(b)

In [ ]:
print(type("A"))
type(10)
type(10.22)
type(10+2j)

In [ ]:
def printName():
    print("Hi Welcome July Python")
    return "CHARLIE"

print(printName())

In [ ]:
print(print("Ganesh"))

In [ ]:
a = print("Hello") #it will return None type 
print(a)

In [ ]:
print(print(print("Yash")))

In [ ]:
_ = 10
__ =30

print(_)
print()
print()
print()
print()
print()#empty print() > new line
print(__)

In [ ]:
print(print(print(print())))
print() 
print()
print() # new line
print("Hi")

In [ ]:
a=10
print(a)
print()
print()
print()
print(b)

In [ ]:
# Print()
# TYpe() #error

In [ ]:
# Declaree 5 realtime variables and assign different values.
#print them , with value , type , id.
Score=5.6
Name="Deepa"
Analyst=True
Batch=5
print(Score , type(Score)  , id(Score))


Student_Name  = " hari  "
Roll_num = 7
marks_scored = 97.5
first_class = True
print ((Student_Name),type(Student_Name),id(Student_Name))
print((Roll_num),type(Roll_num),id(Roll_num))
print((marks_scored),type(marks_scored),id(marks_scored))
print((first_class),type(first_class),id(first_class))

### Data types

In programming, data type is an important concept.

It defines the type of Data we use. 

**Variables can store data of different types, and different types can do different things.**

Python has the following data types built-in by default, in these categories:

Text Type: 	str

Numeric Types: 	int, float, complex

Sequence Types: 	list, tuple, range

Mapping Type: 	dict

Set Types: 	set, frozenset

Boolean Type: 	bool

Binary Types: 	bytes, bytearray, memoryview

### Int

In [ ]:
# Python interprets a sequence of decimal digits without any prefix to be a decimal number(0-9)

int_var = 5

print(int_var)

print(type(int_var))

int_var = 10.2 #float 

print(type(int_var))

In [ ]:
2**64-1 #Python2

In [ ]:
# In Python 3, there is effectively no limit to how long an integer value can be. 
# Of course, it is constrained by the amount of memory your system has, as are all things, 
# but beyond that an integer can be as long as you need it to be:

int_var2 = 12312188727979081720280990280981090928098208091802180982082108028028021082098028091
#java long type 9,223,372,036,854,775,807

print(int_var2)

Prefix 	Interpretation 	Base

0b (zero + lowercase letter 'b')

0B (zero + uppercase letter 'B') 	Binary 	2

0o (zero + lowercase letter 'o')

0O (zero + uppercase letter 'O') 	Octal 	8

0x (zero + lowercase letter 'x')

0X (zero + uppercase letter 'X') 	Hexadecimal 	16

In [ ]:
8/2 = 0
4/2 = 0
2/2 = 0
1/2 = 1
Quo = 0
# 1000 - 8

In [ ]:
2**8

In [ ]:
1+2+4+8+16+32+64+128

In [ ]:
# (2**8)-1 = max values in 8 bit
# decimal=10
# binary of 10 =

In [ ]:
#8 bit represtaion 
#  0 - (2**8)-1 : 255

digits = 7   | 6  |  5 |  4 | 3 | 2 | 1 | 0 

values = 128 : 64 : 32 : 16 : 8 : 4 : 2 : 1    2**digit
           
        0        0   1    0    0   0   1   1

   
#44 = 00101100

In [ ]:
print(bin(35))

In [ ]:
print(64+32+16+8+2)

In [ ]:
print(bin(8))

In [ ]:
print(bin(10))

In [ ]:
print(bin(27) , bin(122) , bin(19))
#27 = 11011
#122 = 1111010
#19 = 10011

In [ ]:
# 32 , 122 , 65

In [ ]:
print(0b1000)
print(0B10000)

In [ ]:
print(0b11011) #27

In [ ]:
a=0b1000+0b100 #8+4 = 12
print(a)
print(bin(a))

In [ ]:
bin(127)

In [ ]:
print(0o10)
print(0O100)

In [ ]:
print(0b101)

# 4 bit 2^0 to 2^4 -1
# 0 - 15
# 2^0 2^1 2^2 
#8 4 2 1

In [ ]:
256 128 64 32 16 8 4 2 1

In [ ]:
# https://byjus.com/maths/number-system/

In [ ]:
print(0xF+0B0111)
# 0-9 
# A - F , A=10 B=11  C=12 D=13 E=14... F=15

In [ ]:
print(0xA)

In [ ]:
print(hex(15))

In [ ]:
#Number System predefined methods are
# .bin()
# oct()
# hex()

In [ ]:
oct(64)

In [ ]:
hex(235)

In [ ]:
a = 0xeb+0b100+0o64
print(a)
print(235+4+52)

In [ ]:
print(0xeb)
print(hex(235))

In [ ]:
#if we want check the type of the value stored in variable  , 
# use   built-in function 
# type(variable_name)
#len()

In [ ]:
a=0b101
print(a)
print(type(a))

### Float

In [ ]:
float_var =1.33283763

print(float_var)
print(type(float_var))

In [ ]:
float_var = 123
print(float_var)
print(type(float_var))

In [ ]:
float_var = "123"
print(float_var)
print(type(float_var))

In [ ]:
float_var = True
print(float_var)
print(type(float_var))

In [ ]:
float_var =121.0
print(type(float_var))

In [ ]:
# int a= 10
# a =102.289 error  in c , cpp , java

In [ ]:
print(3.4/10000000)

In [ ]:
# 10^-4 0.0001 
#3.4*10^-4
# e-5 10^5
#3.4/100000 = 3.4e-5

float_var= 4.5e-5 # 4.5 * 10^-5

print(float_var,type(float_var))

In [ ]:
print(1*100000)

In [ ]:
print(3.4/(10**5))

In [ ]:
print(3.4e4)

In [ ]:
3.4/10000

In [ ]:
print(10/0) #undefined value will raise error.

In [ ]:
print(type(1/0.0))

### Complex Numbers

Complex numbers are specified as real part+imaginary part j.

In [ ]:
# x+iy
#  x is integer y is imag 

com_var = 2+3j

In [ ]:
print(type(com_var))

In [ ]:
#len()
#dir()
#type()
#bin() hex() oct()
#id()
#type()

In [ ]:
print(dir(com_var))

In [ ]:
int_var = 10
print(dir(int_var))
print(type(int_var))

In [ ]:
int_var.bit_length()

In [ ]:
int_var.numerator #attribute

In [ ]:
dir(com_var)

In [ ]:
print(com_var)

In [ ]:
com_var.real

In [ ]:
com_var.imag

In [ ]:
com_var = 2+3j

In [ ]:
com_var.real * com_var.imag

In [ ]:
# dir(com_var)
com_var.imag

In [ ]:
print(com_var)

In [ ]:
com_var = com_var.conjugate()

In [ ]:
(com_var.conjugate()).conjugate().conjugate()

In [ ]:
#dir(object_name/variable name)
dir(com_var)

In [ ]:
a=2+3j #a+bj
b=4+1j #c+dj

print(a+b)
print(a-b)
# print(a*b)

In [ ]:
print(a/b)
print(a*b)

In [ ]:
((2*4)+(3*1))/(16+1)

In [ ]:
print(11/17)

In [ ]:
com_var2 = complex(2)
print(com_var2)

In [ ]:
str_var = "Divya"
print(dir(str_var))
print(str_var.isupper())
print(str_var.upper())

In [ ]:
a = 1+2j
b = complex(1,4)
print(a,b)

In [ ]:
# for every data type have thier builtin function
int()
float()
str()
complex()
list()
tuple()
dict()
set()
bool()

### Strings

- Strings are sequences of character data. The string type in Python is called str.

- String literals may be delimited using either single or double quotes. All the characters between the opening delimiter and matching closing delimiter are part of the string:

In [ ]:
str_var = "Iam a string "

print(str_var)

print(type(str_var))

In [ ]:
str_var = "Iam a string^&T@*187782u929292u98.,sm \
lss8i8us98 10+2j"

print(str_var)

print(type(str_var))

In [ ]:
ord(" ")

In [ ]:
print(ord("A"),ord("Z"))

In [ ]:
print(chr(90),chr(78))

In [ ]:
 type(" ")

In [ ]:
str_var2 =' '

print(str_var2)

print(type(str_var2))
print(len(str_var2))

In [ ]:
# \n = print in next line
# \t = tab
#for multiline strings us \ at the end of theline

In [ ]:
a  =  'Im learing \
september \
python \
datatypes'



print(a)

In [ ]:
print('a\
b\
c')

In [ ]:
'''
Hello
World
'''

In [ ]:
print("hello \
        world")

print("hello \
        world")

In [ ]:
print("helo \
      jkeoens")

print("hello \
        world")

In [ ]:
# It's a book
print('It's a book')

In [ ]:
print("It's a book")

In [ ]:
print('It\"s a book')

In [ ]:
# It's a book

# print('Its's is book') # error.
print("It's is book") #method1
print('It\'s is a book') # method2

In [ ]:
# Its "is" a book
# print("Its "is" a book") #invalid

In [ ]:
# print("Its "is" a book") 
print("Its \"is\" a book")
print("""Its "is" a book """)

In [ ]:
print('python is easy one of the easiest language\"s')

In [ ]:
print(''' python is "easy" It's a easy Language''')

In [ ]:
print('\" It\'s \" is \" book \" ')

In [ ]:
print('Book')

In [ ]:
print()
a= 10
print(a , end="\t")
print(end="\t")
b=20
print(end="\t")
print(end='\t')
print(b)# empty print statement is new line

In [ ]:
print('''This string has a single (') and a double (") quote.''')

### Boolean 
Python 3 provides a Boolean data type. Objects of Boolean type may have one of two values, True or False:

In [ ]:
bol_var = True
bol_var2 = False

In [ ]:
bol_var = bool(1)
bol_var2 = 0

In [ ]:
print(bol_var,type(bol_var))

In [ ]:
print(bol_var*bol_var2)

In [ ]:
print(bol_var-10)

#### Mapping

int()

str()

float()

complex()

bool()

### int - str

In [ ]:
print(type(1000))
print(type("1000"))

In [ ]:
inta= 109228782

print(type(inta))
print(inta[0])
print(len(inta))

In [ ]:
inta= 109228782

print(type(inta))
# print(len(inta) , inta[0]) #error

stra = str(inta) #converting string 

print(stra)

print(type(stra))
print(stra[3])
print(stra.count('2'))

In [ ]:
a = 10101
print(type(a))
str(a)
print(type(a))

In [ ]:
a = 10101
print(type(a))
a = str(a)
print(type(a))

### float - str

In [ ]:
floata= 109228.99292

print(type(floata))

#after converting
stra = str(floata)

print(stra)

print(type(stra))
print(stra[6])
print(len(stra))

In [ ]:
b = True

print(type(b))

stra = str(b)

print(stra)

print(type(stra))
print(stra[2])

In [ ]:
b = 10+2j

print(type(b))

stra = str(b)

print(stra)

print(type(stra))
print(stra[3])

In [ ]:
a = "(10+2j)"
print(a[3])

In [ ]:
inta = 120192028992920920

In [ ]:
str_a = str(inta)
print(len(str_a))
print(str_a.count("0"))

In [ ]:
# a = 1020219079008 (integer)
# count the occurences of Zero(0) without converting the data type.
# print -1 if no occurences.

In [ ]:
stra = "ankaaljalnskhkaaljal"

stra.count("a")

In [ ]:
#NOTE:
# int, float, boolean, str , complex -> str is possible str() : method

In [ ]:
#int to float

#use float method

inta = 10

floata = float(inta)

print(type(floata))
print(floata)

In [ ]:
#float to int

floata =102.6892

inta = int(floata)

print(type(inta))
print(inta)

In [ ]:
a = 10.2
print(int(a))
a=10
print(float(a))

In [ ]:
#str - int
#only if the strig is in the form numeric "0-9"
a = "72828"
print(a,type(a))
b = int(a)
print(b,type(b))

In [ ]:
a = "766"
print(int(a))

In [ ]:
#str - float
#only if the strig is in the form decimals points(0-9)
a = "101.187891"
b = float(a)
print(b,type(b))

In [ ]:
print(bool("ganesh"))

#NOTE : bool("something") : always True
#  bool() : always False

In [ ]:
print(bool())

In [ ]:
bool(10202)
bool(102.2)

In [ ]:
a = ""
print(len(a)) #length of empty string

In [ ]:
bool("") #False

In [ ]:
bool(" ") #True

In [ ]:
bool(0)

In [ ]:
bool(0.0)

In [ ]:
boola = True

floata = float(boola)
print(floata)

In [ ]:
print(len([]))

In [ ]:
bool([]) #empty list
bool(()) #empty tuple
bool({}) #empty set or dictionary
bool(0) #interger 0
bool(0.0)
bool("") #empty string

#above all gives Flase

### built-in methods

Math
Function 	Description

abs() 	Returns absolute value of a number

divmod() 	Returns quotient and remainder of integer division

max() 	Returns the largest of the given arguments or items in an iterable

min() 	Returns the smallest of the given arguments or items in an 
iterable

pow() 	Raises a number to a power

round() 	Rounds a floating-point value

sum() 	Sums the items of an iterable

dir()  to list all functions of object

type() to check the data type of the object

len() to count all objects

In [ ]:
a = 100
b = 300

list_var = [10,20,40,5,28,90,220] #list , iterable(which has location)
print(max(a,b))
print(min(list_var))
print(max(list_var))
print(sum(list_var))

In [ ]:
min(a,b)

In [ ]:
a = 37.489372

print(round(a))

In [ ]:
a = 37.5000001

print(round(a))

In [ ]:
b = -1676372.2783

abs(b)

In [ ]:
print(pow(2,8))
print(2**8) #power operator

In [ ]:
24*60
1440*48

In [ ]:


min(a,b)
type(a)

a = 37.289372

round(a,2)

b = -1676372.2783

abs(b)

pow(2,4)

arr = [10,20 ,30]
print("Sum = " , sum(arr))
print("Length is " , len(arr))
avg = sum(arr)/len(arr)
print(avg)

### Input function

- It is used to read the data from the input console or user .
- To keep track or dynamic data 

syntax:

variable_name = input("prompt")

In [ ]:
name = input("Enter the Name: ")

In [ ]:
print(name)

In [ ]:
print(type(name))
print(len(name))

In [ ]:
print(name)

In [ ]:
name = input() #by default input method will read the data in String format

In [ ]:
print(name)
print(type(name))
print(len(name))
print(name[2])

In [ ]:
print(type("10")) #input
print(type(10))

In [ ]:
read_data = input()
print(type(read_data),read_data)

In [ ]:
print(type(name) ,name)

In [ ]:
int_a = int(name)

print(int_a,type(int_a))

In [ ]:

sal = input("Enter the salary")

sal = float(sal) # map to the same variable

sal2 = float(sal)

print(sal,type(sal2),type(sal))

In [ ]:

str_a = input("Enter num")

str_b = float(str_a) # map to the same variable

str_c = float(str_b) # value error


print(sal,type(str_a),type(str_b))

In [ ]:

# int()
# float()
# complex()

# bool()


int_a = int(input("Enter Integer"))


float_a = float(input("Enter Float"))


str_a = input("Enter Name")

bool_a = bool(input("Enter Bool"))
              

print(int_a,type(int_a))

print(float_a,type(float_a))

              
print(str_a,type(str_a))

print(bool_a,type(bool_a))

In [ ]:
real = float(input("Enter real part"))
img = float(input("Enter imag part"))

com_var = complex(real,img)

print(com_var)

In [ ]:
str_b = "                              "
print(len("Helo"))

print(len(str_b))

In [ ]:
Claim_id=int(input("enter claim number:"))
Paid_Amount=float(input("enter Paid amount:"))
Patient_name= input("Enter patient name:")
print(Claim_id,type(Claim_id),Paid_Amount,type(Paid_Amount),Patient_name,type(Patient_name))

In [ ]:
student_id= int(input(“Enter the student id”))
student_rank= bool(input(“enter the student pass or fail”))
student_marks= float(input(“enter the student marks”))
student_name = input(“enter student name”)

print(student_id,student_rank,studentmaeks,student_name)
print(type(student_id),type(student_rank),type(student_marks),type(student_name))

In [ ]:
#ASCII
# chr() #integer , to know the character
# ord() # character  , to know the number.
print(chr(97))

In [ ]:
print(chr(65))

In [ ]:
print(ord('A'))

In [ ]:
print(ord('a'))

In [ ]:
print(ord(" "))

In [ ]:
number_of_matches = int(input("Enter the numberof matches"))


print(number_of_matches)

is_vote = bool(input("Are you 18?"))

print(is_vote)

In [ ]:
s = ""
# s= ""+"1"
# s = "1"+"2" ->"12"
# s= "12"+"3" -> "123"
#s = "123" + "4" -> "1234"

for i in range(1,5):
    s = s+str(i)
    print(s,i)
print(s)

### sequence Data types

#### List

- Lists are used to store multiple items in a single variable. 
- indexing starts from 0 to n-1
- stores heterogenous data 
- List is mutable , changes are allowed  at locations.
- Declared with []

In [ ]:
# 

friends = ["f1","f2","f3","f4","f5","f6","f7","f8","f9","f10"] #Homegenous of String type



print(friends)

print(type(friends))

n = len(friends)

print(n)
print("Friend1 ",friends[0])
print("Friend2 ",friends[1])
print("Friend3 ",friends[2])
print("Friend10 ",friends[n-1])

In [ ]:
companies  = ["apple", "google yahoo" , True , 1+2j , 1.23232,10]

In [ ]:
print(companies)

In [ ]:
print(len(companies))

In [ ]:
print(companies[6])

In [ ]:
#mutability = changing the location's data
companies[2] = 1082

print(companies)

In [ ]:
print(companies[0])

In [ ]:
print(companies[len(companies)-1])

In [ ]:
len(companies)

In [ ]:
print(companies[-2]) #last second object

In [ ]:
print(friends)

In [ ]:
friends[-11] #last location negative indexing : -10

#### tuple

    It is also used to store multiple items in a single variable.
    indexing starts from 0 to n-1
    stores heterogenous data
    Tuple is immutable , changes are not at locations
    Declares with ()

In [ ]:
sample = 10
print(type(sample))

In [ ]:
sample1 = 20,20,40,30
print(type(sample1))

In [ ]:
stock_prices = (201.76, 302.32 , 35, 987.60)

In [ ]:
print(stock_prices)
print(type(stock_prices))

In [ ]:
stock_prices[0]

In [ ]:
stock_prices[-1]

In [ ]:
stock_prices[2] = 304

# TypeError: 'bbbtuple' object does not support item assignment

In [ ]:
s = "swati"
print(s[0])
s[0]="n"
#str is immutable 
# 'str' object does not support item assignment

In [ ]:
stock_prices = (float(input("Enter the stock price google ")),float(input("Mircsoft")),float(input("AMZ")))

In [ ]:
print(stock_prices)

In [ ]:
a=input("enter a")
a=float(a)
print(a)
print(type(a))

In [ ]:
#methods
a= float(input("enter a"))
print(type(a))

####  range
- It is also sequence data type to generate collection of data in specified range 

- mainly used for loops

In [ ]:
range(0,10,1)

# range(start,stop,step)

In [ ]:
#list()
# tuple()
#set()
#dict()
print(tuple(range(0,10,1)))

In [ ]:
list(range(0,10,2))

In [ ]:
list(range(10))  #(0,10,1) # start = 0 , step =1

In [ ]:
tuple(range(1,20,2))

In [ ]:
list(range(0,20,2))

In [ ]:
list(range(0,1,10)) 
#start + Step <= Stop
# Stop is always 1 & -1 , (excluded)

In [ ]:
list(range(10,0,-1))

In [ ]:
list(range(0,20,2))

In [ ]:
list(range(1,20,2))

In [ ]:
list(range(1,-10,-2))

In [ ]:
list(range(10,-1,-1))

In [ ]:
list(range(10,0,-1))

In [ ]:
list(range(-1,-20,-2))

In [ ]:
list(range(10))# default start = 0  m step =1

In [ ]:
list(range(0,-10,-1))

In [ ]:
list(range(-1,10,-1))

In [ ]:
l = ["Hello","Hello"]
print(l)

In [ ]:
l=[0]*10
print(l)

In [ ]:
l=["Ganesh"]*10
print(l)

In [ ]:
l=[0]*10
print(l)
print("Hello "+ "Add ") #concat
print("Hello "*10) #multiply

In [ ]:
a=10
print(type(a))

a=10,
print(type(a))

In [ ]:
a=10,20,30,40
print(type(a))

In [ ]:
a = [1,23,3]
b=[10.1,11.21,78.2]

c=[0]*3
print(c)

c[0] = a[0]+b[0]
c[2] = a[1]+b[1]
c[1] = a[2]+b[2]
# c[11]=a[1]+b[2]
print(c)

In [ ]:
a = [1,23,3]
b=[10.1,11.21,78.2]

c=[]
print(c)

c.append(a[0]+b[0]) #0
c.append(a[1]+b[1]) #1
c.append(a[2]+b[2]) #2
print(c)

In [ ]:
# list()
# tuple()

a= ["abc",'bcd']
print(type(a))
a=tuple(a)
a[0] = "AK"
print(type(a))

In [ ]:
a=[10,4,5,6,7,8] #ordered and indexed
print(a)
print(a[-1])
print(dir(a))

In [ ]:
b=(10)
print(dir(())) #tuple

In [ ]:
car_names = ["Swift","MG","Kia","i10"]
print(car_names) #ordered & indexed
print(car_names[0])

### set
 Set is a collection which is unordered and unindexed. 
 
 No duplicate members.
 
 Sets are written with curly brackets {}.

In [ ]:
a="abcaefahhhjaaaaaaaskbskiwknkw"
b = ['ace','ball','count','ace']
print(set(a)) #string to set
print(set(b))

In [ ]:
fruits = {"apple","banana","grapes","orange","apple", 10}

print(fruits)
print(type(fruits))
print(len(fruits))

In [ ]:
alpha = {"a","b","c","d","z"}
print(alpha)

In [ ]:
print(alpha[0])
#  'set' object is not subscriptable

In [ ]:

nums1= [10,20,30,10,20,20,30]

nums= {10,20, 30,10,20,20,30}

print(len(nums),len(nums1))

In [ ]:
print(set(nums1))

### dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values

In [ ]:
NOTE:
    KEY SHould be unique and immutable
    #str
    #tuple
    #int
    #float
    #bool
    #complex
    
    
#not allowed
# - list
# - dict
# - set

In [ ]:
some_a = ["Vemuri","PYTHON",["Swathi","november python"],("Python","Ruby"),{"AA","BB","AA"}]

print(some_a[0])
print(some_a[-1])
print(some_a[-2][-2])
print(some_a[2][1])

In [ ]:
sample_dic = {
            "name":"Ganesh",
            "Session":"Python",
            "Price":10028.2982,
            "IsStudent":True,
            "name":"AKR"
            }
print(sample_dic)
#whene ever you have double keys  , it will consider the latest one

In [ ]:
#list list[0] , list[1]..
#tuple tuple[0].....

#In Dictionary , keys are indexes
print(sample_dic["name"])
print(sample_dic["Price"])

In [ ]:
    studentDetails = {
    
    "name":"Fury",
    "class":"High School",
    "id":201,
    True:2345.99,
    ("class",):"lower school",
    "country":"USA",
    "course":["Vemuri","PYTHON",["Swathi","november python"],("Python","Ruby"),{"AA","BB","AA"}]
    
}

In [ ]:
print(studentDetails)

In [ ]:
studentDetails["class"] #[key_name]

In [ ]:
studentDetails["class_seven"]

In [ ]:
studentDetails.get('id',"Key is missing") #default is None.

In [ ]:
print(studentDetails.get('id2',"Key is not present"))

In [ ]:
studentDetails["course"][-2]

In [ ]:
#small assignment

1.Just take the inputs into different variables of  all data types like int , float ,str , bool, complex
2.Store that variables in List
3.print the value and type of each values of list


#2

1.Declare two list one with integer values another with  float values.
2.And declare third list add both the interge list & float list  values in it.

In [ ]:
complex(2,3)

### Methods

#### List

Python has a set of built-in methods that you can use on lists/arrays.

- append()	Adds an element at the end of the list

- clear()	Removes all the elements from the list

- copy()	Returns a copy of the list

- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the first item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

In [ ]:
a = []
print(dir([]))

In [ ]:
companies_stock = [("TCS",3052),("infosys",1320),("Accen",4321),("wipro",498)]

In [ ]:
print(companies_stock)
print(type(companies_stock))

In [ ]:
#check the length
print(companies_stock[1])

print(len(companies_stock[1]))

print(len(companies_stock))
print(type(companies_stock[0]))
print(type(companies_stock[0][0]))

In [ ]:
print(companies_stock[-1][0])

In [ ]:
print(companies_stock[3][1])

In [ ]:
#append () adding the data at end sequence

companies_stock.append(("sbi",360))

In [ ]:
print(companies_stock)

In [ ]:
companies_stock.append(["LVTM",360])

In [ ]:
print(companies_stock)

In [ ]:
companies_stock.append(10,20) #error

In [ ]:
print(companies_stock)

In [ ]:
# Invalid
# a=[]
# a[0] = "AK"
# a[1]= "Python"

a =[0]*3
a[0] = "AK"
a[1]= "Python"
print(a)

In [ ]:
a = []
# a[0]=20 # change data at the existing locations
a.append(10) #doesn't depend on locations or index value
a.append(20)
print(a)
a[0]=200
print(a)

In [ ]:
#insert(index , object )

#adding at 0th index

companies_stock.insert(0,("IRTC",1750))

In [ ]:
print(companies_stock)

In [ ]:
companies_stock

In [ ]:
companies_stock.insert(0,("ICIC",1750))

In [ ]:
companies_stock.insert(0,('HDFC',1750))

In [ ]:
print(companies_stock,len(companies_stock))

In [ ]:
companies_stock.insert(30,"AKR")

In [ ]:
print(companies_stock)

In [ ]:
#index () returns the position of item values 
# Return first index of value.

It_companies = ["Google","Microsoft","Amazon","Netflix","Ola","TCS","Infosys","TCS","Accenture"]

print(len(It_companies))

print(It_companies.index("Accenture"))




        
print(It_companies.index("TCS"))

In [ ]:
print(It_companies.index("GAnesh")) #error if values is not in the list

In [ ]:
It_companies.append("A","B") #Invalid ? Only append one data at a time

In [ ]:
print(It_companies)

In [ ]:
It_companies.append(["Wipro","optum"])

In [ ]:
print(It_companies)

In [ ]:

print(['Google', 'Microsoft'] + ["Wipro","optum"]) #list addition

In [ ]:
#extend () ===>list addition 

It_companies.extend(["Wipro","optum", "netflix"])

print(It_companies)

In [ ]:
It_companies.extend(["Info","JPMC"])
print(It_companies)

In [ ]:
#copy 

Duplicate_list = It_companies.copy()

dup2 = It_companies.copy()


print(It_companies)
print(Duplicate_list)
print(dup2)

In [ ]:
id(dup2) # address of the object

In [ ]:
print(id(dup2) , id(Duplicate_list) , id(It_companies))

In [ ]:
a=10
b=10
print(id(a) ,id(b))

In [ ]:
print(type(It_companies))

In [ ]:
some_var = It_companies #alias

print(It_companies)
print(some_var)

print(id(some_var) , id(It_companies))

In [ ]:

some_var[0]="SWATI"
print(It_companies)
print(some_var)

In [ ]:
Duplicate_list

In [ ]:
Duplicate_list[0]="Goog"
print(It_companies)
print(Duplicate_list)

In [ ]:
#copy() method will create a separate block of memory , so ID's will be different
# Changes in one variable will not affect in another variable

#alias = both will have memory locations , change in one variable will affect the other variable

In [ ]:
#clear() - delete all the elements

Duplicate_list.clear()

print(Duplicate_list)

In [ ]:
Duplicate_list = [10,20]
print(Duplicate_list)

#del - to delete  the object/var  from the memory perman
del Duplicate_list

print(Duplicate_list)

In [ ]:
print(It_companies)

In [ ]:
#reverse ()
It_companies.reverse()

print(It_companies)

In [ ]:
#pop()  # default = -1 , return the popped elemet 

last_item = It_companies.pop() #default index = -1

print(last_item)
print(It_companies)

In [ ]:
print(It_companies.pop(3))

In [ ]:
a=[]
print(len(a))
print(a.pop())

In [ ]:
a = print(print("Ehllo"))
print(a)

In [ ]:
#remove() based on value 

First_occur_item = It_companies.remove("TCS")
print(First_occur_item)
print(It_companies)

In [ ]:
It_companies.remove("GANESH")

In [ ]:
#count()

print(It_companies.count("Ola"))

In [ ]:
print(It_companies.count("Wipro"))

In [ ]:
print(It_companies.count("ACC"))

In [ ]:
a = " a b a  ab c a b a ".split()
print(a,type(a))
print(a.count('a'))

In [ ]:
print(It_companies)
It_companies.pop(4)

In [ ]:
#sort 
#note : if its str , sort based on ascii value 

print(It_companies)

It_companies.sort()

print(It_companies)

In [ ]:
print(ord("A"))
print(ord("a"))

In [ ]:
some_list = ['a','k','r','b','K','i','e','A']
some_list.sort()

print(some_list)

In [ ]:
some_list = ['a','k','r','b','K','i','e','A']
some_list.sort(reverse=True) #reverse = false -> ASD(increasing ) , =True (desc)

print(some_list)

In [ ]:
a=[10,203,20,0,5011,602]
a.sort(reverse=True)
print(a)

In [ ]:
ord("A"),ord("a")

In [ ]:
chr(65)

In [ ]:
ord("A")
ord("a")

lista=[10,1,99,19,0]
lista.sort(reverse=True)

print(lista)

In [ ]:
# chr()
# ord()

print(ord("A"))
print(ord("a"))
print(ord("g"))
print(chr(65))
print(chr(67))

In [ ]:
print(type(It_companies))
dir(It_companies)

In [ ]:
a={} #diict
dir(a)

In [ ]:
# all list methods
append() # only 1
extend() # more than 1 or add list to the tail of the another tail
count()
index()
sort()
reverse()
copy()



#insertion of data
append()
extend()
insert()

#deletion

remove() #based onvalues
clear() #all
pop() #based on loc  #default = -1

#sorting
sort() #revere=True (desc)  , False = ascen

#copy
copy()

#index and counting

index()
count()

#### tuple methods

Python has two built-in methods that you can use on tuples.


- count()	Returns the number of times a specified value occurs in a tuple
- index()	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)
print(thistuple.count(5))

In [ ]:
dir(thistuple)

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(4)

print(x)

In [ ]:
teams = ("india","NZ","AUS","Ban","NZ","Pak","india","nz")

print(teams.count('nZ'))

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(7) #returns the first occurence of item

print(x)

In [ ]:
copy_tuple = thistuple.copy()
print(copy_tuple) #copy() . sort can't use on tuple

#### set methods
Python has a set of built-in methods that you can use on sets.

- add()	Adds an element to the set
- clear()	Removes all the elements from the set
- copy()	Returns a copy of the set
- difference()	Returns a set containing the difference between two or more sets

- intersection()	Returns a set, that is the intersection of two other sets

- symmetric_difference()	Returns a set with the symmetric differences of two sets

- union()	Return a set containing the union of sets

other methods are

- pop()
- remove()
- discard()
- isdisjoint()
- issubset()
- issuperset()
- update()

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange1")

print(fruits)

fruits.add("orange")
print(fruits)

In [ ]:
#difference()
# syntax 
# setA.difference(setB)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) #x-y 

print(z)

In [ ]:
#difference()
# syntax 
# setA.difference(setB)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x) #y-x

print(z)

In [ ]:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x) | x.difference(y) #union = | (pipe symbol)

print(z)

In [ ]:
#discarrd() -> remove 

fruits = {"apple", "banana", "cherry","banana",11,11,11,11}

print(fruits)

fruits.discard("banana")
# 
print(fruits)

In [ ]:
fruits.discard("banana")

print(fruits)

# Remove an element from a set if it is a member.
# If the element is not a member, do nothing

In [ ]:
#intersection = common elements

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

In [ ]:
#union 
# Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

In [ ]:
#symmnetric_difference()
# syntax

# set.symmentric.difference(set)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.symmetric_difference(x) 

print(z)

In [ ]:
dir(x)

In [ ]:
#isdisjoint()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y) #x not equal to y #true or false 

print(z)

In [ ]:
#isdisjoint()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "mango"}

z = x.isdisjoint(y) #x not equal to y #true or false 

print(z)

In [ ]:
#
print(x)
# x.pop()

In [ ]:
x.pop()

In [ ]:
x

In [ ]:
x.remove("banana")

In [ ]:
x

In [ ]:
x.pop()

In [ ]:
x.pop()

In [ ]:
print(x)
print(x.pop())

In [ ]:
cars = {"Swift","Mercedes","Tata","I10","I20","Kia","MG"}

print(cars)

#remove()

cars.remove("Tata")

cars.discard("Kia")

In [ ]:
print(cars)

In [ ]:
cars.remove("Alto") #throw Error if not present
cars.discard("Audi") #will not throw an Error , even if it is not present.

In [ ]:
# set methods
union()
add()
intersection()
difference()
symmetric_difference()
discard()
pop()
remove()

### Dict Methods

Python has a set of built-in methods that you can use on dictionaries.

- clear()	Removes all the elements from the dictionary
- copy()	Returns a copy of the dictionary
- fromkeys()	Returns a dictionary with the specified keys and value
- get()	Returns the value of the specified key
- items()	Returns a list containing a tuple for each key value pair
- keys()	Returns a list containing the dictionary's keys
- pop()	Removes the element with the specified key
- popitem()	Removes the last inserted key-value pair
- setdefault()	Returns the value of the specified key. If the key does  not exist: insert the key, with the specified value
- update()	Updates the dictionary with the specified key-value pairs
- values()	Returns a list of all the values in the dictionary

In [ ]:
comp = {
  "name": "Google",
  "type": "MNC IT",
  "year": 1992,
  "ceo":"Sundar P"
}
print(comp)

In [ ]:
# one way of accessing
print(comp["name"]) #give valida key only otherwise KeyError

#second

print(comp.get("type")) #Even u can give invalid Key also , it will print predefined text

In [ ]:
# one way of accessing
# print(comp["name2"])

#second

print(comp.get("type2","Key is not there"))

In [ ]:
# print(comp["name1"]) #KE



print(comp.get("type", "Key not found")) #None #No KE 
print(1+2)
print("Jellp")

In [ ]:
print(comp["name1"]) #KE
print(2*3)
print("HSbksks")

In [ ]:
comp["course"]

In [ ]:
comp.get('name1',"No Value")

In [ ]:
print(comp.get("name1","Invalid key"))

In [ ]:


x = comp.get("type1","Invalid Key")

print(comp.get("type"))
print(x)

In [ ]:
comp["name"]
comp["year"]

In [ ]:
comp["branch"]

In [ ]:
comp.get("year1","year1 is not a key ")

In [ ]:
comp

In [ ]:
#keys() = Return the list of keys [k1,k2,k3]
print(comp.keys())

In [ ]:
#values() # Return the list of values [v1,v2,v3]

print(comp.values())

In [ ]:
#items() ->key+values List of typle [(K,v),(k1,v1),(k2,v2)]

print(comp.items())

In [ ]:
x = comp.items()
print(type(x))

In [ ]:
comp

In [ ]:
#pop()

popped = comp.pop("year") #based year

print(popped)
print(comp)

In [ ]:
comp.pop("year")

In [ ]:
comp.pop("year","key not there")

In [ ]:
comp

In [ ]:
# pop_item()
popped_item = comp.popitem()
print(popped_item)
print(comp)

In [ ]:
print(comp)

In [ ]:
sample = {
    "name ":"Divya",
    "course":"Python",
    "fee":"100USR"
}
print(sample)
print(sample.pop("fee"))
print(sample.popitem())
print(sample.popitem())
print(sample.popitem())

In [ ]:
# {}.popitem()
# [].pop()

In [ ]:
print(comp)

In [ ]:
comp.update({"name2":"Amazon"})

In [ ]:
print(comp)

In [ ]:
#update 

comp.update({"year1":2046})
#if key is not there , it will create a new key

In [ ]:
print(comp)

In [ ]:
comp.update({"name1":"Amazon"})

In [ ]:
print(comp)

In [ ]:
student={
    "name":input("Enter the name"),
    "roll_no":int(input("Enter the roll no")),
    "course":input("Enter the course")
}

In [ ]:
print(student)

In [ ]:
x = ('key1', 'key2', 'key3')
y = ('a','b','c')

thisdict = dict.fromkeys(x, y)

print(thisdict)

In [ ]:
#NOTE 
#accessing and removing with unknow key=>key error
#for updating it will , add a new item (K , V)

In [ ]:
#little exercise 


# Pyinsta is Python Community?



1.
# declare a list with different data types
# print type of each item in the list

# 2.declare two list with intergers or floats
# add those two lists and print the result

# 3.create a your own two dictionaries
# try to merge them , store it in a new variable.

# 4 . Declare a List with ["Mi","vivo","realme","Oneplus","Mi","Redmi","realme"]
# add a new list to it ["oppo","iphone"]
# remove the duplicates in th list and print the mo`dified list

In [ ]:
# {}+{}

In [ ]:
{"name":"AKR"}+{"rollno":3096}

### Indexing and slicing

<img src = "https://dq-blog-files.s3.amazonaws.com/list-tutorial/py1m2_positive_negative.svg">

#### list

In [ ]:
#list 

list_1D = ["Facebook",0.0,"USD",2974676,3.5,True,10+2j]

n = len(list_1D)

#accesing the 2nd element 

print(list_1D[1])

print(list_1D[-2])
print(list_1D[-6])
print(list_1D[-len(list_1D)])

In [ ]:
#multidimensional list 
#There can be more than one additional dimension to lists in Python. 
#Keeping in mind that a list can hold other lists, that basic principle can be applied over and over. 
#Multi-dimensional lists are the lists within lists.

In [ ]:
list_2D= [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(list_2D)

In [ ]:
print(len(list_2D))

In [ ]:
list_2D[0]

In [ ]:
list_2D[1]

In [ ]:
list_2D[2]

In [ ]:
list_2D[0][3]

In [ ]:
list_2D[-3][-2]

In [ ]:
list_2D[1][-1]

In [ ]:
list_2D[1][-1]

In [ ]:
list_2D[2][-2]

In [ ]:
list_2D= [[2, 4, 6, 8, 10,['Google','MS','Info']], [3, 6, 9, 12, 15,['a','dog','bird']], [4, 8, 12, 16, 20]]

print(list_2D[0][5][2])

In [ ]:
list_2D[1][5][1]

In [ ]:
list_2D[-3][-1][-1][-2]

In [ ]:
list_2D[-3][-1][-2][-1]

In [ ]:
list_2D[1][5][1][2]

In [ ]:
list_2D[-2][-1][-2][-1]

In [ ]:
#accesing the 8 data value
print(list_2D[0][3])
print(list_2D[-3][-3])
print(list_2D[1][len(list_2D[1])-1])
print(list_2D[1][4])

In [ ]:
#excercise

some_list = [1,2,['a','b',['cat','dog'],'c'],3]

# write a statement to access 't' of 'cat'
print(some_list[2][2][0][2])
# print(some_list[])

In [ ]:
print(some_list[2][2][1][2])

In [ ]:
print(some_list[-2][-2][-2][-1])

In [ ]:
print(some_list[2][2][0][2])
print(some_list[-2][-2][-2][-1])

In [ ]:
a=[1,2,['a','b',['cat','dog'],'c'],3]
a[2][2][0][2]
a[-2][-2][-2][-1]

In [ ]:
some_list[2][2][0][2]

In [ ]:
list(range(10,-1,-1))

In [ ]:
list(range(1,10,3))

In [ ]:
#slicing  [start:stop:step]
# step =1 #default
# stop = exclusive # default = len
# start = 0 # default



#if the step is -1
#start -1
#stop = -len+(-1)
#step = -1 

#result is reverse order.



list_1D = ["Facebook",0.0,"USD",2974676,3.5,True,10+2j]


# list_name[start:stop:step]
list_1D[1:4:1]

In [ ]:
list_1D[1:4]

In [ ]:
list_1D[-1:-8:-2]

In [ ]:
list_1D[1:0:-1]

In [ ]:
list_1D[3:0:1]

In [ ]:
list_1D[:100]

In [ ]:
list_1D[6]

In [ ]:
list_1D[0:100:2]

In [ ]:
some_list = [1,2,3,4,5,6,7,8,9,10,11,12]

In [ ]:
some_list[1:13:2]

In [ ]:
some_list[-1:-13:-2]

#even with negative indexing

In [ ]:
some_list = [1,2,['a','b',['cat','dog'],'c'],3]

In [ ]:
some_list[0]

In [ ]:
some_list[1]

In [ ]:
some_list[2]

In [ ]:
some_list[2:3:2]

In [ ]:
some_list[2][2][0:1]

In [ ]:
list_2D

In [ ]:
list_2D[1][2:]

In [ ]:
print(list_1D)

In [ ]:
list_1D[:]

In [ ]:
list_1D[::-1] #reverse `a

In [ ]:
n = len(list_1D)
print(n)
list_1D[-1:(-n)-1:-1]

In [ ]:
list_1D[-1:-8:-1]

In [ ]:
list_1D

In [ ]:
list_1D.reverse()

In [ ]:
list_1D

In [ ]:
list_1D[::-1] #reverse `a

In [ ]:
print(list_1D)

In [ ]:
list_1D[-1:-8:-1] #-(len+1)= stop . start = -1 when step is -1

In [ ]:
list_1D-

In [ ]:
some_list

In [ ]:
some_list.reverse()

In [ ]:
s="swati"
s[::-1]

In [ ]:
some_list

In [ ]:
rev = some_list[::-1]

In [ ]:
some_list[-1:-5:-1]

In [ ]:
rev

In [ ]:
list_1D

In [ ]:
name = "AKRajamoni"
print(name[:3])
print(name[1:6:2])
print(name[-1:-4:-1])
print(name [:])
print(name[::-1]) #reverse order
print("".join(reversed(name)))

#### tuple

In [ ]:
imdb = (("Instant Family",7.2,("Hugo",7.8)),["Intersellar",8.0],{"Tenet",7.5},{"Movie_Name":"Despicable Me","Rating":7.2})

In [ ]:
#check the type of each item in tuple named imbd

In [ ]:
print(imdb)

In [ ]:
print(type(imdb))

In [ ]:
print(type(imdb[0][0]))

In [ ]:
imdb[1][0]="Don't breathe"
print(imdb)

In [ ]:
print(imdb[0])

In [ ]:
imdb[0][2][0]

In [ ]:
print(type(imdb[0]))

In [ ]:
print(type(imdb[1]))

In [ ]:
print(type(imdb[2]))

In [ ]:
print(type(imdb[3]))

In [ ]:
print(imdb[3])

In [ ]:
imdb[3].get("Movie_Name11","Check the key name again")

In [ ]:
imdb[3].get("Rating")

In [ ]:
#update()
imdb[3].update({"Movie_Name":"Iron Man III"})
print(imdb)

In [ ]:
#access the movie Despicable 

print(imdb[3]["Movie_Name"])

In [ ]:
print(imdb)

In [ ]:
print(imdb[0][2][1])

In [ ]:


teams=("IND","PAK","NZ","ENG","AUS")

In [ ]:
teams[1:3]

In [ ]:
teams[::-1] #reverse order

In [ ]:
print(teams[5])

#### set

In [ ]:
crypto = {"Bit coin","Dogecoin","Etherum"}

print(crypto[0]) 

print(crypto)

In [ ]:
crypto = {"Bit coin","Dogecoin","Etherum",{"INR"}}
print(crypto)


#issue is that sets can only contain hashable objects, and a set is not hashable.

#use the frozenset type, which is hashable, for the elements of the outer set.

In [ ]:
# list()
# tuple()
# set()
# dict()
#int()
# float()
# str()
# frozenset()

In [ ]:
s

In [ ]:
dir(x)

In [ ]:
d={"a":[1,{"a":10}],
    "x":{"x":20}}


print(d)

In [ ]:
print(d['a'])
print(d['x'])
print(d['x']['x'])
print(d['a'][1]['a'])

In [ ]:
d["a"][1]["a"]
d["x"]["x"]

In [ ]:
#set mutable
#frozenset is immutable

In [ ]:
#mutable -> change the data at inner location 

# list , set , dict 

#immutable -> you cannot change the data.

# tuple , str , int , float , bool , complex , frozenset

### Operators

Operators are used to perform operations on variables and values.

They are used to perform the many arthimetical and mathematical operations on data .

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

##### Arithmetic operators

- They are used to perform the basic math operations .

+  ADDITION 
-  SUB
*  MUTLIPICATION
/   DIVISION
//  (FLOOR DIV)  
%  (MODULUS)  
**  (EXPO)

In [ ]:
a=25
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b) #float value
print(a//b) #integer value
print(a%b) #will remainder
print(a**b) #n^n

print(25*25*25*25)

In [ ]:
num1 = 22

num2 = 44


print("Addition is :",(num1+num2))

print("Subtraction is :",(num1-num2))

print("Multliplication is :",(num1*num2))

# 4

print("Division is  It gives Folating Quotient:",(num1/num2)) #float quotient

print("Floor Division is  It gives a Integer Quotient:",(num1//num2)) #integer quotient

#remainder

print("Modulus (Remainder) is :",(num1%num2)) #remainder


print("Power or Expo n^n is :",(num1**num2)) #2^3 # 2*2*2 #num1^num2

In [ ]:
a=10
b=20
a+b
a-b

In [ ]:
a=10
b=3
a//b #floor divisior = integer quotient
a%b

In [ ]:
a=31
b=7.2
print("modulus",(a%b))

In [ ]:
print(5//2) #// = floor division :integer 
print(5%3)
print(1%6)
print(2//3)

# NOTE : when Numerator < Denominator = Numerator 
#  When Both are equal = 0

In [ ]:
print(50%100)

In [ ]:
print(-5%3)
print(5%3)

#Negative modulus

In [ ]:
# Note :

# 1. addition with the float object , the result is float type


# 2. Division with the float object , the result is float type

#3 .Python modulo operator (%) is used to get the remainder of a division. The modulo operation is supported for integers and floating point numbers.

#4.a/b = q with remainder r preserves the relationships b*q + r = a and 0 <= r < b.

In [ ]:
print(-5%3)

# 5/3 = 2

# (1-3*2)%3 
#5/3 = 2
#-5 = 6
#6-5 =1

In [ ]:
print(-10%4)
#10/4 = 2
# 10 =8
# 2

#### assignment opertors 

Assignment operators are used to assign values to variables

In [ ]:
num1 = 5


print(num1)

# num1 = num1+3
# num1 = num1+6

num1 +=3 #num1= num1+3

print(num1)

num1-=2#num1= num1-2

print(num1)

num1*=6 #num1 = num1*6

print(num1)

num1/=3

print(num1)

num1//=5

print(num1)

num1**=2
print(num1)

In [ ]:
n=4
n+=3
n-=6
n*=7
n/=3
print(n)
print(7/3)

#### Comparision Operator 
It is used to compare two values / objects .

It return the boolean type either True or False

== 	Equal 	x == y 	

!= 	Not equal 	x != y 	

">" Greater than 	x > y 	
<  Less than 	x < y 	
">="  Greater than or equal to 	x >= y 	
"<="  Less than or equal to 	x <= y

In [ ]:
x = 10
y = 5
print(x==y)

print(x!=y)

print(x>y)

print(x<y)

print(x<=y)

print(x>=y)

print(10>=10)
print(10!=10)

#### Logical Operators 

- It is used to combine to two conditional statements


- and  	Returns True if both statements are true 	x < 5 and  x < 10 	
- or 	Returns True if one of the statements is true 	x < 5 or x < 4 	
- not 	Reverse the result, returns False if the result is true 	not(x < 5 and x < 10)

In [ ]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

In [ ]:
name = input("Enter the name ")
if (name == "fury"):
    print("It is correct")
else:
    print("it is wrong value")

In [ ]:
#login application 

database = {"username":"divya","passwd":"divya123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

In [ ]:
a = 10
b = 300

if a>=10 and not b<100:
    print(True)
    a+=10
    b-=5
    if a>=15 or b>40:
        print(a,b)
    else:
        print(b)
else:
    if a==10 or b>10:
        a+=10
        b+=30
        if (a+b) >50:
            print(a,b)
        else:
            print(b)
    print(False)

#### identity operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

- (is  	     )     Returns True if both variables are the same object 	x is y 	
- (is not 	 )       Returns True if both variables are not the same object 	x is not y

In [ ]:
a=20
b=30
c=20
print(a==b)
print(a is b)
print(a is c)
print(a is not b)

In [ ]:
a = 10

print(type(a))
print(id(a))


b = 11

print(id(b))


print(a is b)

print(a is not b)

In [ ]:
a = 10

print(id(a))


b = 10

print(id(b))

#both refer to the same object memory location

print(a is b)
print(a is not b)

x= 100

y=200
print( x is y)
print(id(x),id(y))
print(x is not y)

In [ ]:
a=[10]
b=[10]
print(id(a),id(b))
print(a is b) #address
print(a==b) #values
c=a #alias
print(c is a)

#NOTE : for sequence , even if you have same data type , it will not point to same memory location because methods functionality.

In [ ]:
d = a.copy()
print(id(a) , id(d))
print(d is a)

In [ ]:
a=[10]
b=[10]
print(id(a[0]),id(b[0]))
print(a[0] is b[0])

### Negative modules

Python’s modulo operator (%) always return a number having the same sign as the denominator. What happens behind the scene is that Python applies the distribute law of Modulo operator which is – 

(a+b)mod n = [(a mod n)+(b mod n)]mod n

In [ ]:
10%3

In [ ]:
10%-3

In [ ]:
10%-3 #remainder
-3*-4-2

In [ ]:
print(-5%4)

#-5%4 = (-2*4 + 3) % 4 = 3
# -3 % 7 = ( -1*7 + 4 ) % 7 = 4 
# -5 % 2 = (-3*2 + 1) % 2 = 1

#### Member ship operator 

Membership operators are used to test if a sequence is presented in an object:

(in  )	Returns True if a sequence with the specified value is present in the object 	x in y 	
(not in) 	Returns True if a sequence with the specified value is not present in the object 	x not in y

In [ ]:
array = [1,2,3,4,5]

print( 1 in array)
print(10 in array)
print(2 not in array)


print(8 not in array)

print("cpp" in "python hub")
print("cpp" in "cpp programming")
print(8 not in list(range(1,4))) #[1,2,3]

In [ ]:
for data in range(1,10,2):
    print(data , end = "  ")
    print("Ganesh" , end = " ")

In [ ]:
for data in range(1,10,2):
    print(data)

# Bitwise 

Bitwise operator is used to compare the Binary bits 

Operator 	Name 	Description

(& ) 	AND 	Sets each bit to 1 if both bits are 1

(|) 	OR 	Sets each bit to 1 if one of two bits is 1

 (^)	XOR 	Sets each bit to 1 if both bits are different , otherwise 0
 
(~ ) 	NOT 	Inverts all the bits (only for not operand)

A  B     AND  OR  NOT XOR
0 0     0    0     1    0
0 1     0    1     1    1
1 0     0    1     0    1
1 1     1    1     0    0

In [ ]:
#representing
# 32 vs 64
# 1e64
# 8 bit 

7   |6  | 5 |4 | 3 | 2 | 1 |0 #2 powers locations 00000110

128 |64 |32 |16| 8 | 4 |2  |1    min =0 max = 255

In [ ]:
print(bin(20))
print(bin(37))
print(bin(57))
print(bin(222))

In [ ]:
a = 3
b = 4

# 3 - 0 1  1
# 4 - 1 0  0
# -----------------
#     0  0   0
# 
###### AND 000

###### OR 111

###### EXOR 111

#####NOT 100

print(a & b)

#0 is -ve
#1 +ve

In [ ]:
print(a | b)

In [ ]:
print(a ^ b)

In [ ]:
a = 3 #011
print(bin(a))
    
print(~a) #a=3 #100

# 3 011
#
# invert
# - (011+1) #doing the 1's compliment
#- 100 = -4

In [ ]:
a = 10 #= 1010 (Binary)

# ~a = ~1010
#    = -(1010 + 1)
#    = -(1011)
#    = -11 (Decimal)
print(~a)

In [ ]:
a = 15
print(bin(15))

print(~a)

In [ ]:
print(~-10)

In [ ]:
print(bin(10))

# -(-1010+1)

In [ ]:
print(bin(-10))

In [ ]:
bin(3)

In [ ]:
bin(4)

In [ ]:
print('''Python 
Programming ''')

In [ ]:
print(10//2)

In [ ]:
# Right Shift 

# Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two.
# n//2^bits

a = 10
print(a>>1)

#00001010 =>10
# after shifting 2bits to the Right

#00000010 =>2

# 00000010

In [ ]:
10 // 2**1

# n//2^bits

In [ ]:
#left shift

# Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 
# Similar effect as of multiplying the number with some power of two.

# n*2^bits
# 10*2**2

a = 10
print(a<<2)

# 8bit
#00001010 =>10
#00010100

# after shifting 1 bit to the left

#00010100 =>20

In [ ]:
# n*2^bits
10*(2^1)

In [ ]:
bin(10)

In [ ]:
x = 0b10100
print(x)

In [ ]:
10*2**1

In [ ]:
2**4

### Operator Precedence

- When dealing with operators in Python we have to know about the concept of Python operator precedence and associativity 
- as these determine the priorities of the operator otherwise, we’ll see unexpected outputs.

#### Operator Precedence:
This is used in an expression with more than one operator with different precedence to determine which operation to perform first

<img src = "">

In [12]:
10+20*30/10

70.0

In [ ]:
10 + (20 * 30) / 10

In [13]:
(10+20) * 30/10

90.0

In [19]:
print(10000%2)
print(0//1)
print(99%100)
print(10%10)
print(10%3)
print(10/3)
print(10//3)

0
0
99
0
1
3.3333333333333335
3

In [20]:
a = 2+3*8/2-10**4%2//1

In [21]:
print(a)

14.0

In [ ]:
# 10 + 20 * 30 is calculated as 10 + (20 * 30)
# and not as (10 + 20) * 30

In [23]:
name = "Ak"
age = 0
  
if name == "Ak" or name == "John" and age >= 2 : 
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Hello! Welcome.

In [24]:
name = "Ak"
age = 0
  
if ( name == "Ak" or name == "John" ) and age >= 2 :
  print("Hello! Welcome.")
else :
  print("Good Bye!!")

Good Bye!!

In [25]:
# Precedence of or & and
meal = "fruit"

money = 0

if meal == "fruit" or meal == "sandwich" and money >= 2:
    print("Lunch being delivered")
else:
    print("Can't deliver lunch")

Lunch being delivered

##### Operator Associativity: 
    If an expression contains two or more operators with the same precedence then Operator Associativity is used to determine. 
It can either be Left to Right or from Right to Left.

In [26]:
print(200 / 10 * 10)

200.0

In [27]:
print(5 - 2 + 3)

6

In [28]:
#right to left
print(2 ** 3 ** 2)

512

In [ ]:
#Solve

100 % 200 / 10 // 3 * 10

In [ ]:
#py2 vs py3
#print()
# input()
# variables & rules
# naming styles 
#data type
# sequence data types
#operators

In [ ]:
Operators	Meaning
()	Parentheses
**	Exponent
+x, -x, ~x	Unary plus, Unary minus, Bitwise NOT
*, /, //, %	Multiplication, Division, Floor division, Modulus
+, -	Addition, Subtraction
<<, >>	Bitwise shift operators
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==, !=, >, >=, <, <=, is, is not, in, not in	Comparisons, Identity, Membership operators
not	Logical NOT
and	Logical AND
or

In [ ]:
a={"name":"ak","course":"Python"}
b={"type":"IT", "price":10000}

c= {**a,**b}

In [ ]:
c

In [ ]:
print(*a)

In [ ]:
print()