### Print() Method

In [2]:
#syntax = shift +tab
print("Hello World")
print('Python Session')
print("""July Class""")

Hello World
Python Session
July Class

In [5]:
print(10)
print("Helo")
print(10.90)
print(True,False)
print(10+2j)
print([1,20,30])
print(("a","b","c","d"))
print({"a","b","c","d","a","b"})
print({"name":"AKR","Session":"Python"})

10
Helo
10.9
True False
(10+2j)
[1, 20, 30]
('a', 'b', 'c', 'd')
{'d', 'a', 'b', 'c'}
{'name': 'AKR', 'Session': 'Python'}

In [6]:
a = 10
b = True
c = "Hello"
print(a,b,c)

10 True Hello

In [7]:
print(a,b,c, sep="->")

10->True->Hello

In [8]:
print(a,b,c, sep="")

10TrueHello

In [9]:
print(a,b,c, sep="\n")

10
True
Hello

###  comments

In [10]:
# - # single 
# - ''' ''' - mutliple line comment

In [12]:
# print("Helloo")
# print("PythonSEssion")

#cnt+/ = to 
# snllsmlsm sjlsn sklslns 

'''
skhkls
sjbknks
snjknls
sjksnlks2987921
2802u10sn
'''

'\nskhkls\nsjbknks\nsnjknls\nsjksnlks2987921\n2802u10sn\n'

#### Variables

In [14]:
# <variable_name > = <value>

name = "Python session"

print(name)
print(type(name))

Python session
<class 'str'>

In [15]:
name = 10
print(name, type(name))

10 <class 'int'>

In [16]:
name = 10.1
print(name, type(name))

10.1 <class 'float'>

In [17]:
name = True
print(name, type(name))

True <class 'bool'>

In [18]:
name = 1+2j
print(name, type(name))

(1+2j) <class 'complex'>

In [19]:
name = [10]
print(name, type(name))

[10] <class 'list'>

In [24]:
name = (10,)
print(name, type(name))

(10,) <class 'tuple'>

In [22]:
name = {10}
print(name, type(name))

{10} <class 'set'>

In [25]:
name = {10:10}
print(name, type(name))

{10: 10} <class 'dict'>

In [27]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [28]:
while =10

SyntaxError: invalid syntax (<ipython-input-28-0b707fe051e9>, line 1)

In [29]:
while_ =10
print(while_)

10

In [31]:
_ = 1012
print(_,type(_))

1012 <class 'int'>

In [32]:
98_age = 10

SyntaxError: invalid decimal literal (<ipython-input-32-5a7761a113e7>, line 1)

In [34]:
age_98 = 20
print(age_98)

20

In [35]:
age = 20
AGE = 22
print(id(age), id(AGE))

140707264342416 140707264342480

In [39]:
a=10
b=20
c=30

c=d=e=10 #assign single mutliple variable
print(c,d,e)

10 10 10

In [41]:
a,b, c = 10,11,12 ##assign mutliple to  mutliple variable
print(a,c,b)

10 12 11

In [42]:
movie_actor = "Tom Hanks"
print(movie_actor , type(movie_actor) , id(movie_actor))

Tom Hanks <class 'str'> 2272173768112

In [44]:
def printName():
    print("Hi Welcome July Python")

printName()

Hi Welcome July Python

In [48]:
def printName():
    print("Hi Welcome July Python")
    return "CHARLIE"

print(printName())

Hi Welcome July Python
CHARLIE

In [52]:
def printName():
    print("Hi Welcome July Python")
    return "CHARLIE"

a = printName()
print(a)

Hi Welcome July Python
CHARLIE

In [43]:
print(print("Hello"))

Hello
None

In [53]:
a=10
print() #empty = line
print()
print(a)

10

In [54]:
print(print(print()))

None
None

### Data types

In [57]:
int_var = 10
print(int_var,type(int_var))

10 <class 'int'>

In [58]:
print(bin(10))

0b1010

In [59]:
print(oct(10))

0o12

In [60]:
print(hex(15))

0xf

In [61]:
print(0xF+0B0111)

22

In [63]:
float_var =1.0

print(float_var)
print(type(float_var))

1.0
<class 'float'>

In [65]:
float_var = 3.4e-5
print(float_var)

3.4e-05

In [67]:
print(10/0.0)

ZeroDivisionError: float division by zero

In [75]:
# x+iy
#  x is integer y is imag 

com_var = 2+3j

In [76]:
print(com_var,type(com_var))

(2+3j) <class 'complex'>

In [77]:
print(dir(com_var))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [78]:
com_var.real

2.0

In [80]:
com_var.imag

3.0

In [83]:
com_var.conjugate().conjugate()

(2+3j)

In [87]:
str_a = "10"

print(int(str_a))

a = 10
print(type(str(a)))

10
<class 'str'>

### conversions

In [ ]:
#int - str

In [1]:
a = 100101 
s = str(a)
print(s,type(s))

100101 <class 'str'>

In [2]:
s.count("0")

3

In [ ]:
#float - str

In [3]:
f = 10.189289829

s = str(f)

print(s,type(s))

10.189289829 <class 'str'>

In [ ]:
#complex - str

In [4]:
c = 1+2j

s = str(c)
print(s,type(s))

(1+2j) <class 'str'>

In [ ]:
#boolean - str

In [6]:
b = True

s = str(b)
print(s,type(s))

print(s[2])

True <class 'str'>
u

In [7]:
#int - float 

i = 10

f = float(i)
print(i)

10

In [8]:
f = 10.2

i = int(f)

print(i)

10

In [9]:
#str - int

s = "110182892"

i = int(s)

print(i , type(i))

110182892 <class 'int'>

In [11]:
#str - float

s = "10.2920802"

f = float(s)

print(f)

10.2920802

In [12]:
lst = [10,20,30,40,50,40,10]

tup = tuple(lst)

print(tup)

(10, 20, 30, 40)

In [13]:
st = set(lst)
print(st)

{40, 10, 20, 30}

In [16]:
#built -in

# type()
# id()
# dir()
# len()
# chr()
# ord()
# max()
# min()
# abs()
# sum()

print(dir(tup))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [17]:
a,b=10,20
list_var = [10,20,40,5,28,90,220] #list , iterable(which has location)
print(max(a,b))
print(min(list_var))
print(max(list_var))
print(sum(list_var))

20
5
220
413

In [19]:
a = 1.6782

round(a)

2

In [20]:
abs(-17822)

17822

In [21]:
pow(2,8)

256

In [22]:
print(2**8)

256

In [23]:
arr = [10,20 ,30]
print("Sum = " , sum(arr))
print("Length is " , len(arr))
avg = sum(arr)/len(arr)
print(avg)

Sum =  60
Length is  3
20.0

In [25]:
sample = open("demo.txt",mode ="a")
print("Hello Geeks for Geeks", file = sample )

### input()

In [32]:
name = input("Enter the username: ")

print(name)
print(type(name))

Enter the username: 10+2j
10+2j
<class 'str'>

In [33]:
num = input()

print(num,type(num))


num = int(num)

print(num,type(num))

10
10 <class 'str'>
10 <class 'int'>

In [34]:
num = input()

print(num,type(num))


num = float(num)

print(num,type(num))

10.1782
10.1782 <class 'str'>
10.1782 <class 'float'>

In [35]:

num = int(input())

print(num, type(num))

10
10 <class 'int'>

In [37]:

num = float(input())

print(num, type(num))

hkhskks

ValueError: could not convert string to float: 'hkhskks'

In [39]:

num = bool(input())

print(num, type(num))

False
True <class 'bool'>

In [40]:

num = complex(input())

print(num, type(num))

10+2j
(10+2j) <class 'complex'>

### Sequence 

- list
- tuple
- set

In [41]:
#list 

friends = ["f1","f2","f3","f4","f5","f6","f7","f8","f9","f10"]

print(friends)

['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']

In [42]:
print(len(friends)) #0-9

10

In [43]:
print(friends[0])

f1

In [44]:
print(friends[-1])

f10

In [47]:
print(friends[-11])

IndexError: list index out of range

In [48]:
friends[2] = "Marry"

print(friends)

['f1', 'f2', 'Marry', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']

In [49]:
friends[12] = "Marry"

print(friends)

IndexError: list assignment index out of range

In [50]:
#tuple

courses = ("py","java","scala","ruby")

print(courses , type(courses), id(courses),len(courses))

('py', 'java', 'scala', 'ruby') <class 'tuple'> 1854427661712 4

In [53]:
courses[-11]

IndexError: tuple index out of range

In [54]:
courses[0] ="python"

TypeError: 'tuple' object does not support item assignment

In [55]:
print(dir(courses))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [60]:
courses.count("ruby")

1

In [63]:
#range()

# start = 0
# step =1
# stop = len

list(range(1,10,1)) #stop is exclusive

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
list(range(1,10,3))

[1, 4, 7]

In [67]:
list(range(-1,10,-1))

[]

In [69]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [70]:

l=[0]*10
print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [71]:

l=[]


l[0] = 10

print(l)

IndexError: list assignment index out of range

In [72]:
a = [1,23,3]
b=[10.1,11.21,78.2]

c=[]
print(c)

c.append(a[0]+b[0]) #0
c.append(a[1]+b[1]) #1
c.append(a[2]+b[2]) #2
print(c)

[]
[11.1, 34.21, 81.2]

In [77]:
# set()

s = {"a","b","c","d","a"}
print(s)

{'a', 'b', 'c', 'd'}

In [75]:

s="ANILKRAJAMONIKUMAR"
print(set(s))

{'O', 'U', 'K', 'J', 'R', 'M', 'A', 'N', 'I', 'L'}

In [78]:
s[0]

TypeError: 'set' object is not subscriptable

In [79]:
# {key:value}

student = {
        "name" : "Marry",
        "course" :"python",
        "fee":1000
}

In [80]:
print(student)

{'name': 'Marry', 'course': 'python', 'fee': 1000}

In [81]:
# {key:value}

# keys should immutables data types 
# tuple
# str
#  int , float , complex , boolean

student = {
        ["name"] : "Marry",
        "course" :"python",
        "fee":1000
}

TypeError: unhashable type: 'list'

In [85]:
student = {
        ("name") : "Marry",
        "course" :"python",
        "fee":1000,
        10:10,
        True:"Boolen",
        10+2j : "complex"
}

In [88]:
student[True]

'Boolen'

In [89]:
student[10]

10

In [91]:
student[("name")]

'Marry'

In [92]:
student["fee"]

1000

In [93]:
student["fee1"]

KeyError: 'fee1'

In [94]:
student.get("fee")

1000

In [96]:
student.get("fee2","Key is not there")

'Key is not there'

#### Sequence Data Type Methods

##### LIST

In [1]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [2]:
companies_stock = [("TCS",3052),("infosys",1320),("Accen",4321),("wipro",498)]

In [3]:
print(len(companies_stock))

4

In [4]:
print(companies_stock[0])

('TCS', 3052)

In [5]:
print(companies_stock[-1])

('wipro', 498)

In [6]:
print(companies_stock[0][0],type(companies_stock[0][0]))

TCS <class 'str'>

In [8]:
#append()
companies_stock.append(("Google",686))
print(companies_stock)

[('TCS', 3052), ('infosys', 1320), ('Accen', 4321), ('wipro', 498), ('Google', 686)]

In [9]:
companies_stock.append("Google",686)
print(companies_stock)

TypeError: append() takes exactly one argument (2 given)

In [10]:
#extend()

print([1,3,2]+["a","b","c"])

[1, 3, 2, 'a', 'b', 'c']

In [11]:
companies_stock

[('TCS', 3052),
 ('infosys', 1320),
 ('Accen', 4321),
 ('wipro', 498),
 ('Google', 686)]

In [12]:
companies_stock.extend([("Netflix",298),("Ola",278)])
companies_stock

[('TCS', 3052),
 ('infosys', 1320),
 ('Accen', 4321),
 ('wipro', 498),
 ('Google', 686),
 ('Netflix', 298),
 ('Ola', 278)]

In [18]:
companies_stock.extend(([("Netflix",298),("Ola",278)]))
companies_stock

[('TCS', 3052),
 ('infosys', 1320),
 ('Accen', 4321),
 ('wipro', 498),
 ('Google', 686),
 ('Netflix', 298),
 ('Ola', 278),
 ('Netflix', 298),
 ('Ola', 278)]

In [19]:
#insert(loc,data)

companies_stock.insert(5,("Amazon",2782))
companies_stock

[('TCS', 3052),
 ('infosys', 1320),
 ('Accen', 4321),
 ('wipro', 498),
 ('Google', 686),
 ('Amazon', 2782),
 ('Netflix', 298),
 ('Ola', 278),
 ('Netflix', 298),
 ('Ola', 278)]

In [20]:
companies_stock.insert(0,"ABC")
companies_stock

['ABC',
 ('TCS', 3052),
 ('infosys', 1320),
 ('Accen', 4321),
 ('wipro', 498),
 ('Google', 686),
 ('Amazon', 2782),
 ('Netflix', 298),
 ('Ola', 278),
 ('Netflix', 298),
 ('Ola', 278)]

In [21]:
companies_stock.insert(15,"XYZ")
companies_stock

['ABC',
 ('TCS', 3052),
 ('infosys', 1320),
 ('Accen', 4321),
 ('wipro', 498),
 ('Google', 686),
 ('Amazon', 2782),
 ('Netflix', 298),
 ('Ola', 278),
 ('Netflix', 298),
 ('Ola', 278),
 'XYZ']

In [22]:
#index()


It_companies = ["Google","Microsoft","Amazon","Netflix","Ola","TCS","Infosys","TCS","Accenture"]

print(len(It_companies))

print(It_companies.index("Accenture"))



        
print(It_companies.index("TCS"))

9
8
5

In [23]:
#copy()

Dup_companies = It_companies.copy() #Deep copy

print(id(Dup_companies),id(It_companies))

3135116323008 3135116321600

In [25]:
It_companies[0] = "Googe"
print(Dup_companies,It_companies,sep="\n")

['Google', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture']
['Googe', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture']

In [28]:
#clear() - removes all the elements
Dup_companies.clear()

print(Dup_companies)

[]

In [29]:
dup2 = It_companies.copy()

del dup2 

print(dup2)

NameError: name 'dup2' is not defined

In [31]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [32]:
It_companies.count("TCS")

2

In [34]:
It_companies.count("NetflixY")

0

In [36]:
It_companies.index("ABC")

ValueError: 'ABC' is not in list

In [38]:
#copy() method will create a separate block of memory , so ID's will be different
# Changes in one variable will not affect in another variable

#alias = both will have memory locations , change in one variable will affect the other variable

dup3 = It_companies

print(id(dup3),id(It_companies))

dup3[0] = "AK"

print(dup3,It_companies)

3135116321600 3135116321600
['AK', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture'] ['AK', 'Microsoft', 'Amazon', 'Netflix', 'Ola', 'TCS', 'Infosys', 'TCS', 'Accenture']

In [40]:
#pop(-1) # loc

It_companies.pop() #-1 #Last

'TCS'

In [42]:
popped_item = It_companies.pop(5)
print(popped_item)

Infosys

In [43]:
popped_item = It_companies.pop(15)
print(popped_item)

IndexError: pop index out of range

In [45]:
#remove()

It_companies.remove("Ola")

In [46]:
It_companies

['AK', 'Microsoft', 'Amazon', 'Netflix']

In [47]:
remove_item = It_companies.remove("Amazon")

print(remove_item)

None

In [48]:
It_companies

['AK', 'Microsoft', 'Netflix']

In [49]:
It_companies.reverse()

In [50]:
It_companies

['Netflix', 'Microsoft', 'AK']

In [51]:
It_companies.append("abc")
It_companies.extend(["Kia","coorg","absy"])

It_companies

['Netflix', 'Microsoft', 'AK', 'abc', 'Kia', 'coorg', 'absy']

In [52]:
print(ord("a"),ord("A"))

97 65

In [53]:
It_companies.sort() #ascii

In [54]:
It_companies

['AK', 'Kia', 'Microsoft', 'Netflix', 'abc', 'absy', 'coorg']

In [55]:
It_companies.sort(reverse=True)
It_companies

['coorg', 'absy', 'abc', 'Netflix', 'Microsoft', 'Kia', 'AK']

In [56]:
dir(It_companies)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# all list methods
append() # only 1
extend() # more than 1 or add list to the tail of the another tail
count()
index()
sort()
reverse()
copy()



#insertion of data
append()
extend()
insert()

#deletion

remove() #based onvalues
clear() #all
pop() #based on loc  #default = -1

#sorting
sort() #revere=True (desc)  , False = ascen

#copy
copy()

#index and counting

index()
count()

##### Tuple

In [57]:
print(dir(()))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [65]:
class A:
    def __int__(self):
        self.lst=[]
    def m1(self):
        print("Iam M1")
    def __str__(self):
        return "Iam String version of object"
    
    def __add__(self,a):
        self.lst=[]
        return self.lst.append(a)
       
    
a = A()

a.m1()

print(a)

print(a+[1,21])
print(a.lst)

Iam M1
Iam String version of object
None
[[1, 21]]

In [66]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)
print(thistuple.count(5))

2
2

In [68]:
thistuple.count(50)

0

In [69]:
thistuple.index(50)

ValueError: tuple.index(x): x not in tuple

### set methods

In [70]:
s = {'a',"b"}
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [71]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'apple', 'orange', 'banana'}

In [72]:


fruits.add("orange1")

print(fruits)

fruits.add("orange")
print(fruits)

{'orange1', 'cherry', 'apple', 'orange', 'banana'}
{'orange1', 'cherry', 'apple', 'orange', 'banana'}

In [73]:
dup_fruits = fruits.copy()

print(id(dup_fruits),id(fruits))

3135122348064 3135128214656

In [74]:
#clear()
dup_fruits.clear()

print(dup_fruits)

set()

In [75]:
fruits

{'apple', 'banana', 'cherry', 'orange', 'orange1'}

In [76]:
#pop()
fruits.pop()

'orange1'

In [77]:
dup_fruits.pop()

KeyError: 'pop from an empty set'

In [79]:
#remove()

print(fruits)

fruits.remove("apple")
fruits

{'cherry', 'apple', 'orange', 'banana'}

{'banana', 'cherry', 'orange'}

In [80]:
fruits.remove("apple")

KeyError: 'apple'

In [82]:
dup_fruits.remove("Apple")

KeyError: 'Apple'

In [83]:
#difference()
# syntax 
# setA.difference(setB)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) #x-y 

print(z)

{'cherry', 'banana'}

In [84]:
z = y.difference(z) #x-y 

print(z)

{'apple', 'microsoft', 'google'}

In [86]:
z = y.symmetric_difference(x) #y-z 

print(z)

{'cherry', 'microsoft', 'banana', 'google'}

In [87]:
x.difference(y) | y.difference(x)

{'banana', 'cherry', 'google', 'microsoft'}

In [88]:
#discard() -> remove 

fruits = {"apple", "banana", "cherry","banana",11,11,11,11}

print(fruits)

fruits.discard("banana")
# 
print(fruits)

{'cherry', 11, 'apple', 'banana'}
{'cherry', 11, 'apple'}

In [89]:
fruits.discard("banana")

In [90]:
#intersection = common elements

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [91]:
print(x.union(y))

{'google', 'microsoft', 'cherry', 'apple', 'banana'}

In [93]:
#isdisjoint()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple1"}

z = x.isdisjoint(y) #x not equal to y #true or false 

print(z)

True

In [94]:
cars = {"Swift","Mercedes","Tata","I10","I20","Kia","MG"}

print(cars)

#remove()

cars.remove("Tata")

cars.discard("Kia")

{'I20', 'Kia', 'Mercedes', 'Tata', 'Swift', 'I10', 'MG'}

In [95]:
cars.remove("Alto") #throw Error if not present
cars.discard("Audi") #will not throw an Error , even if it is not present.

KeyError: 'Alto'

In [ ]:
# set methods
union()
add()
intersection()
difference()
symmetric_difference()
discard()
pop()
remove()

##### Dictionary Methods

In [96]:
comp = {
  "name": "Google",
  "type": "MNC IT",
  "year": 1992,
  "ceo":"Sundar P"
}
print(comp)

{'name': 'Google', 'type': 'MNC IT', 'year': 1992, 'ceo': 'Sundar P'}

In [97]:
print(comp["name"])

Google

In [100]:
print(comp.get("name2","Key not present"))

Key not present

In [101]:
print(comp["name2"])

KeyError: 'name2'

In [103]:
dir(comp)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [106]:
comp

{'name': 'Google', 'type': 'MNC IT', 'year': 1992, 'ceo': 'Sundar P'}

In [104]:
comp.keys()

dict_keys(['name', 'type', 'year', 'ceo'])

In [105]:
comp.values()

dict_values(['Google', 'MNC IT', 1992, 'Sundar P'])

In [107]:
comp.items() #[(),(),()]

dict_items([('name', 'Google'), ('type', 'MNC IT'), ('year', 1992), ('ceo', 'Sundar P')])

In [109]:
comp.pop("type")

'MNC IT'

In [110]:
comp

{'name': 'Google', 'year': 1992, 'ceo': 'Sundar P'}

In [111]:
comp.pop("type")

KeyError: 'type'

In [112]:
comp

{'name': 'Google', 'year': 1992, 'ceo': 'Sundar P'}

In [113]:
comp.popitem()

('ceo', 'Sundar P')

In [ ]:
# {}.popitem()
# [].pop()

In [114]:
comp

{'name': 'Google', 'year': 1992}

In [115]:
comp.update({"name":"Amazon"})

In [116]:
comp

{'name': 'Amazon', 'year': 1992}

In [117]:
comp.update({"name2":"Netflix"})

In [118]:
comp

{'name': 'Amazon', 'year': 1992, 'name2': 'Netflix'}

In [119]:
x = ('key1', 'key2', 'key3')
y = ('a','b','c')

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': ('a', 'b', 'c'), 'key2': ('a', 'b', 'c'), 'key3': ('a', 'b', 'c')}

In [ ]:
#NOTE 
#accessing and removing with unknow key=>key error
#for updating it will , adbd a new item (K , V)

#### Indexing

In [120]:
list_1D = ["Facebook",0.0,"USD",2974676,3.5,True,10+2j]

In [121]:
print(len(list_1D))

7

In [122]:
list_2D= [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(list_2D)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [123]:
list_2D= [[2, 4, 6, 8, 10,['Google','MS','Info']], [3, 6, 9, 12, 15,['a','dog','bird']], [4, 8, 12, 16, 20]]

print(list_2D[0][5][2])

Info

In [126]:
print(list_2D[-3][-1][-1][-2])

f

In [130]:

some_list = [1,2,['a','b',['cat','dog'],'c'],3]

# write a statement to access 't' of 'cat'

print(some_list[2][2][0][2])

t

In [136]:
print(some_list[-2][-2][-2][-1])

t

In [137]:
#slicing  [start:stop:step]
# step =1 #default
# stop = exclusive # default = len
# start = 0 # default



#if the step is -1
#start -1
#stop = -len+(-1)
#step = -1 

#result is reverse order.



list_1D = ["Facebook",0.0,"USD",2974676,3.5,True,10+2j]


# list_name[start:stop:step]
list_1D[1:4:1]

[0.0, 'USD', 2974676]

In [138]:
list_1D[1:4]

[0.0, 'USD', 2974676]

In [139]:
list_1D[:6]

['Facebook', 0.0, 'USD', 2974676, 3.5, True]

In [140]:
list_1D[:100]

['Facebook', 0.0, 'USD', 2974676, 3.5, True, (10+2j)]

In [144]:
list_1D[-1:-len(list_1D)-1:-1]

[(10+2j), True, 3.5, 2974676, 'USD', 0.0, 'Facebook']

In [148]:
some_list = [1,2,['a','b',['cat','dog'],'c'],3,7,39]
some_list[2:3:1]

[['a', 'b', ['cat', 'dog'], 'c']]

In [149]:
list_1D[::-1]

[(10+2j), True, 3.5, 2974676, 'USD', 0.0, 'Facebook']

In [150]:
list_1D

['Facebook', 0.0, 'USD', 2974676, 3.5, True, (10+2j)]

In [151]:
name = "AKRajamoni"
print(name[-1])
print(name[:3])
print(name[1:6:2])
print(name[-1:-4:-1])
print(name [:])
print(name[::-1]) #reverse order
print("".join(reversed(name)))

i
AKR
Kaa
ino
AKRajamoni
inomajaRKA
inomajaRKA

In [152]:
name[:]

'AKRajamoni'

In [153]:
imdb = (("Instant Family",7.2,("Hugo",7.8)),["Intersellar",8.0],{"Tenet",7.5},{"Movie_Name":"Despicable Me","Rating":7.2})

In [154]:
imdb[-1].get("Movie_Name")

'Despicable Me'

In [155]:
imdb[1][0]="Don't breathe"
print(imdb)

(('Instant Family', 7.2, ('Hugo', 7.8)), ["Don't breathe", 8.0], {7.5, 'Tenet'}, {'Movie_Name': 'Despicable Me', 'Rating': 7.2})

In [156]:

teams=("IND","PAK","NZ","ENG","AUS")
teams[::-1] #reverse order

('AUS', 'ENG', 'NZ', 'PAK', 'IND')

#### set indexing

In [157]:
crypto = {"Bit coin","Dogecoin","Etherum"}

print(crypto[0]) 

print(crypto)

TypeError: 'set' object is not subscriptable

#### dict indexing

In [158]:
d={"a":[1,{"a":10}],
    "x":{"x":20}}


print(d)
print(d['a'])
print(d['x'])
print(d['x']['x'])
print(d['a'][1]['a'])

{'a': [1, {'a': 10}], 'x': {'x': 20}}
[1, {'a': 10}]
{'x': 20}
20
10

#### Operators

In [1]:
#arthm

# + - * / // ** % 

a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #floor divison -> Integer part
print(a%b) # Remainder 
print(a**b) #power

30
-10
200
0.5
0
10
100000000000000000000

In [6]:
# Assignment 
# =
# += ,-= , 

a = 3
a= a+1 #a+=1

print(a)
a+=2
print(a)

a-=2
print(a)

a/=2

print(a)

a**=2

print(a)

4
6
4
2.0
4.0

In [7]:
#Realtional  operators

In [8]:
#logical 
# and  -> T and T -> True
# or  -> alteast one should be True
# not  -> reverese

In [9]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

<class 'str'> <class 'list'>
False
True
False

In [11]:
name = input("Enter the name ")

if (name == "fury"):
    print("It is correct")
else:
    print("it is wrong value")

Enter the name aknaka
it is wrong value

In [13]:
#login application 

database = {"username":"divya","passwd":"divya123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

Enter the username: divya1
Enter the passsword: divya123
Invalid username
Invalid Creds

In [14]:
a = 10
b = 300

if a>=10 and not b<100:
    print(True)
    a+=10
    b-=5
    if a>=15 or b>40:
        print(a,b)
    else:
        print(b)
else:
    if a==10 or b>10:
        a+=10
        b+=30
        if (a+b) >50:
            print(a,b)
        else:
            print(b)
    print(False)

True
20 295

In [15]:
a=20
b=30
c=20
print(a==b) #values 
print(a is b) # memory addr
print(a is c)
print(a is not b)

False
False
True
True

In [16]:
a=10
b=10
print(a is b)

print(id(a) ,id(b))

True
140729922037840 140729922037840

In [17]:
a=[10]
b=[10]
print(id(a),id(b))
print(a is b) #address
print(a==b) #values
c=a #alias
print(c is a)

2816808244096 2816808284352
False
True
True

In [19]:
for data in range(1,10,2):
    print(data , end =" ")

1 3 5 7 9

### copy

In [20]:
# alias
# copy()
# shallow copy()
# deep copy()

In [21]:
a = [10,203,40]

c = a

print(id(a) ,id(c))

a[0] = "Python"

print(a,c)

2816808239040 2816808239040
['Python', 203, 40] ['Python', 203, 40]

In [22]:
d = [10,203,22,22]

e = d.copy()

print(id(d) ,id(e))

e[0] = "java"

print(d,e)

2816808243264 2816808555072
[10, 203, 22, 22] ['java', 203, 22, 22]

In [ ]:
import copy