In [1]:
#  Fundamentals way to develop a program

# Algorithm
# Flowchart
# pseduocode

### Conditional Statement

### if

### different ways to declaring conditions

### if else

#### elif

### mutliple if's

### Looping statement

#### for loop

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [7]:
for i in range(10,0,-1):
    print(i , end=" ")

10 9 8 7 6 5 4 3 2 1

### list

In [9]:
cars= ["Kia","Alto","BMW","Swift"]
# print base for loop
# range base for loop -> (list , tuple , str)

In [10]:
for data in cars:
    print(data , type(data))

Kia <class 'str'>
Alto <class 'str'>
BMW <class 'str'>
Swift <class 'str'>

In [12]:
for i in range(len(cars)):
    print(i ,cars[i])

0 Kia
1 Alto
2 BMW
3 Swift

In [13]:
for i in range(len(cars)):
    if (i==2):
        cars[i]="Tata"

In [14]:
print(cars)

['Kia', 'Alto', 'Tata', 'Swift']

In [16]:
for _ in range(10):
    print(_ ,end="")

0123456789

In [17]:
for i in range(2):
    for j in range(3):
        print(i,j)
    print()

0 0
0 1
0 2

1 0
1 1
1 2

In [18]:
count=0
for i in range(4):
    for j in range(4):
        for k in range(2):
            print(i,j,k)
            count+=1
        print()
    print()
    
print(f"count is {count}")

0 0 0
0 0 1

0 1 0
0 1 1

0 2 0
0 2 1

0 3 0
0 3 1


1 0 0
1 0 1

1 1 0
1 1 1

1 2 0
1 2 1

1 3 0
1 3 1


2 0 0
2 0 1

2 1 0
2 1 1

2 2 0
2 2 1

2 3 0
2 3 1


3 0 0
3 0 1

3 1 0
3 1 1

3 2 0
3 2 1

3 3 0
3 3 1


count is 32

In [19]:

num = int(input())

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [20]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j] #0-5


n = len(comp) #6

print(f"the length is {n}")

for i in range(len(comp)): #i->0 - n-1
    i+=1
    print(comp[i] ,i , end=" , ")

print()
print(comp)

the length is 6
Microsoft 1 , True 2 , 1729 3 , 100000000000.0 4 , (5+2j) 5 ,

IndexError: list index out of range

In [21]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j]

for i in range(len(comp)): #0-5
    if(i==len(comp)-1):
        comp[i]="Ganesh"
        
print(comp)

['Google', 'Microsoft', True, 1729, 100000000000.0, 'Ganesh']

In [22]:
stock = (["SBI",370],("TCS",122) , ["INDO",278])

n = len(stock)
print(n)

for i in range(n):#0-2
    print(type(stock[i]),stock[i])
    print(f'stock price is {stock[i][1]}')
    if(stock[i][0]=="SBI"):
        stock[i][1]=432
    
print(stock)

3
<class 'list'> ['SBI', 370]
stock price is 370
<class 'tuple'> ('TCS', 122)
stock price is 122
<class 'list'> ['INDO', 278]
stock price is 278
(['SBI', 432], ('TCS', 122), ['INDO', 278])

In [23]:
#set  unordered unindexed
# set removes duplicates

fruits = {"A","B","C","A","B"}

for i in fruits:
    print(i)
print(fruits[0])

A
B
C

TypeError: 'set' object is not subscriptable

In [24]:
#dict 
#key = immutables 
#values =immu & mutable : both
student = {
    "Name": "Ellie",
    "Address":"USA",
    "Salary":4000,
    "Role":"SDE"
}


for item in student: # print only the keys
    print(item)

Name
Address
Salary
Role

In [25]:
for item in student: # print only the keys
    print(item , student[item])

Name Ellie
Address USA
Salary 4000
Role SDE

In [27]:
for k in student.keys(): 
    print(k,student[k])

Name Ellie
Address USA
Salary 4000
Role SDE

In [29]:
for k in student.keys(): 
    print(k,student.get(k))

Name Ellie
Address USA
Salary 4000
Role SDE

In [28]:
for val in student.values():
    print(val)

Ellie
USA
4000
SDE

In [30]:
student.items()

dict_items([('Name', 'Ellie'), ('Address', 'USA'), ('Salary', 4000), ('Role', 'SDE')])

In [31]:
for it in student.items():
    print(it)

('Name', 'Ellie')
('Address', 'USA')
('Salary', 4000)
('Role', 'SDE')

In [32]:
for k,v in student.items():
    print(k,v)

Name Ellie
Address USA
Salary 4000
Role SDE

In [33]:
for k in student.keys():
    if student[k] =="SDE":
        student[k]="ML Eng"
        
print(student)

{'Name': 'Ellie', 'Address': 'USA', 'Salary': 4000, 'Role': 'ML Eng'}

In [34]:
a=[("sairam","python",1000),("Ak","Java",700),("Stu","Ruby",600)]

for x in a:
    print(x,x[0],x[1],x[2])

('sairam', 'python', 1000) sairam python 1000
('Ak', 'Java', 700) Ak Java 700
('Stu', 'Ruby', 600) Stu Ruby 600

In [35]:
for x,y,z in a:
    print(x,y,z)

sairam python 1000
Ak Java 700
Stu Ruby 600

In [36]:
#nested for loop
some_list = [("A",98,True),("B","99",False)]
for i in some_list:
    for j in i:
        print(j)
    print()

A
98
True

B
99
False

In [44]:
for i in range(len(some_list)):
    for j in range(len(some_list[i])):
        print(some_list[i][j])

A
98
True
B
99
False

### Else with For

In [1]:
a =10
b= 20
if a>b:
    print("snjknld")
else: #False
    print("else block")

else block

In [2]:
for i in "swati":
    print(i ,end=" ")
else: #when for loop is excecuted fully
    print(" Printed Successfully")

s w a t i  Printed Successfully

In [4]:
#else block is executed when for loop is compeltely executed all iterations
for i in "Swati":
    print(i ,end="")
    if(i=='a'):
        break
else: #no break or when for loop runs fully
    print(" Printed Successfully")

Swa